---
layout: projects
---

<!DOCTYPE html>
<html>
  <head>
    <title>Projects | Magazine</title>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <%= stylesheet_link_tag "normalize", "all" %>
    <link href="stylesheets/main.css" rel="stylesheet" type="text/css"></link>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css"></link>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  </head>


  <div class="picasso-img">
    <p class="artwork-text">01 - Picasso</p>
  </div>
  
  <body>
    <p class="career">ILLUSTRATOR/DESIGNER</p>
    <section class="header">

       <h1>SARA BLAKE</h1>
    </section>

    <div class="sara-img">
      <div class="location-text">
        <ul>
          <li>New York (USA)</li>
          <li>www.hellozso.com</li>
        <ul>
      </div> 

      <p class="quote">I’VE BEEN DRAWING EVER SINCE I WAS A KID...</p> 

    </div> 
  

    <div class="row"> 
      <div class="column large-2">   

        <ul>
          <li>Interview: John Markel</li>
          <li>Local: 2nd Avenue</li>
          <li>When: 03.03.2012</li>
        </ul>   


        <h4>1. How long have you been an illustrator/designer?</h4>

        <p>I’ve been drawing ever since I was a kid, but when I left my full time job as an interactive designer last August I really started full steam ahead with digital illustration. As a kid and in college I mostly did fine art, but I think the interactive side really showed me how computers can be a great illustration tool as well.</p>  

        <h4>2. What inspires your work?</h4>

        <p>Pretty girls, fashion, fabrics, typography, textures and graffiti around New York City, MUSIC, beautiful mistakes, tattoo art, and a smorgasbord of other illustrators, designers, and photographers.</p>
      </div>  

      <div class="column large-2 margin-top">
        <h4>3. What media do you work in and why?</h4>

        <p>My work is a mix of pencil, pen, pastel, watercolor, and digital photographs and Photoshop. This sort of happened by accident though. I think I started to feel limited or frustrated with my skills on paper. I could never get to a place that felt finished or polished. As soon as I started bringing them into Photoshop and adding textures I suddenly felt like something had clicked. “Undo” and “Erase” has also forever changed the way I work. I have more freedom to play.</p>
      </div>  

      <div class="column large-2 margin-top">  
        <h4>4. How would you describe your style of design?</h4>

        <p>Freestyle. Ha! I can sometime scare myself out of working because I’m petrified of failing some sort of expectation for what the finished image is supposed to look like. When you freestyle and run with it, you don’t have that problem. The whole point is to not have expectations. Plus it’s way more fun. You have no other option than to be surprised with yourself.</p>
      </div>    

    </div>    


  </body>   