---
layout: projects
section: work
---

<section class="fade-in hero__image drawing">
  <div class="content-container">
    <div class="column large-6">
      <h1 class="hero__title hero__title--transparent">There's something about creating with my hands that I love</h1>
    </div>
  </div>
</section>

<div class="content-container">
  <section class="section center">
    <h2 class="section__title">About Garcia Design Jewelry</h1>

    <p class="section__header center margin-top">
    In 2013, I had an itch to create a product with my hands and sell it. I wasn't really sure what that would be and experimented with a variety of different mediums such as intricate paper cutting designs, watercolor paintings, and charcoal drawings. I remember talking to the most wonderful person in the world - my mother. She was admiring my drawings and said "You used to make a lot of jewelry growing up. How about you combine your drawings with jewelry making?". This idea would lead to me selling my work in galleries, and all over the world.</p>
    
   <div class="details">My Role: Founder & Artist</div>
  </section>

  <section class="section center">
    <h2 class="section__title"><span class="section__number">01.</span> The Product</h1>
    <img src="/images/portfolio/jewelry/Otter.jpg" class="section__image">

    <div class="row">
      <div class="column large-3">
        <img src="/images/portfolio/jewelry/bunny.jpg" class="section__image">
      </div>

      <div class="column large-3">
        <img src="/images/portfolio/jewelry/fawn.jpg" class="section__image">
      </div>

      <div class="column large-3">
        <img src="/images/portfolio/jewelry/wolf.jpg" class="section__image">
      </div>

      <div class="column large-3">
        <img src="/images/portfolio/jewelry/babyowl.jpg" class="section__image">
      </div>
    </div>
  </section>

  <section class="row section center">
    <div class="column large-4">
      <h2 class="section__title"><span class="section__number">02.</span> Reviews</h1>
    </div>

    <div class="column large-8">
      <img src="/images/portfolio/jewelry/reviews.jpg" class="section__image">
      <img src="/images/portfolio/jewelry/reviews2.jpg" class="section__image">
    </div>
  </section>

</div>

<%= partial "projects/footer", locals: {projects: ["thesocreports", "careerpage"]} %>