<div class="project-footer">
  <h3 class="project-footer__title">Other Work</h3>
  <section class="row">
    <% projects.each do |project_slug| %>
      <div class="column large-4">
        <%= project_preview(project_slug) %>
      </div>
    <% end %>

    <div class="column large-4">
      <a href="/">
        <div class="card">
          <div class="item-image">
            <img src="/images/portfolio/arrow.jpg" class="card__image"/>
          </div>
          <div class="card-section">
            <p class="card-section__title">View All Projects</p>
          </div>
        </div>
      </a>
    </div>
  </section>
</div>
