<a href="<%= project.link %>">
	<ul>
  	<li class="portfolio-card">
  		<div class="portfolio-card-image">
      	<img src="<%= project.image %>" class="card__image"/>
      </div>

	    <div class="portfolio-card-info">
	      <p class="portfolio-title card-section__title"><%= project.name %></p>
	      <p class="porfolio-subtitle card-section__info"><%= project.role %></p>
	    </div>
  	</li>
  </ul>
</a>
