<a href="<%= project.link %>">
  <div class="card">
    <div class="item-image">
      <img src="<%= project.image %>" class="card__image"/>
    </div>
    <div class="card-section">
      <p class="card-section__title"><%= project.name %></p>
      <p class="card-section__info"><%= project.role %></p>
    </div>
  </div>
</a>
