---
layout: layout
---

<%= partial "partials/nav" %>

<section class="hero__image goals">
  <div class="content-container">
    <div class="column large-6">
      <h1 class="hero__title hero__title--transparent">How do you help people track and accomplish their goals?</h1>
    </div>
  </div>
</section>

<section class="section center">
  <h2 class="section__title">About Jellybeans</h1>

  <p class="section__header center">Jellybeans is a platform that helps people make goals, track their goals, and be motivated by being able to see their own progress as well as their teammates goals and progress.</p>
</section>


<div class="content-container">

  <section class="row">
    <div class=" column large-12 center">
      <h2 class="section__title"><span class="section__number">01.</span> Signup Process</h1>
      <img src="/images/portfolio/jellybeans/signin_desktop.jpg" class="section__image">
    </div>

  </section>

  <section class="row section">
    <div class="column large-3">
      <img src="/images/portfolio/jellybeans/signup_flow1.jpg" class="section__image">
    </div>

    <div class="column large-3">
      <img src="/images/portfolio/jellybeans/signup_flow2.jpg" class="section__image">
    </div>

    <div class="column large-3">
      <img src="/images/portfolio/jellybeans/signup_flow3.jpg" class="section__image">
    </div>

    <div class="column large-3">
      <img src="/images/portfolio/jellybeans/signup_flow4.jpg" class="section__image">
    </div>
  </section>

  <section class="row section">
    <div class="column large-6">
      <img src="/images/portfolio/jellybeans/profile.jpg" class="section__image">
    </div>

    <div class="column large-6">
      <h2 class="section__title"><span class="section__number">02.</span> Profile Page Features</h1>
      <ul>
        <li class="card__list card__list--light-grey">
        Ability to Add a new goal easily in from the top navigation bar
        </li>
        <li class="card__list card__list--light-grey">Ability to see their performance overtime for total goals made, completed, completion rate, and longest streak</li>
        <li class="card__list card__list--light-grey">Ability to view which categories their goals are so they can see where they need to adjust their focus</li>
        <li class="card__list card__list--light-grey">Ability to view their current goals with their progress and checklist that breaks down the goal into smaller actionable pieces</li>
        <li class="card__list card__list--light-grey">Ability to make private goals that they do not wish to share with others</li>
        <li class="card__list card__list--light-grey">Ability to track the progress of their peers/mentees so they know when a teammate might need a little motivation</li>
      </ul>
    </div>
  </section>

  <section class="row section">
    <div class="column large-6">
      <h2 class="section__title"><span class="section__number">03.</span> Team page Features</h1>
      </h2>
      <p>Teams and clubs can create a profile to track their goals and progress</p>
    </div>

    <div class="column large-6">
      <img src="/images/portfolio/jellybeans/team_profile.jpg" class="section__image">
    </div>
  </section>

  <section class="row section">
    <div class="column large-6">
      <img src="/images/portfolio/jellybeans/activity_screen.jpg" class="section__image">
    </div>

    <div class="column large-6">
      <h2 class="section__title"><span class="section__number">04.</span> Activity Screen</h1>
      <p>From the activity screen a user can view recent goals made by other teammates or teams. They are also able to search for any member or team profile to see their public goals and progress.</p>

    </div>
  </section>

</div>

<%= partial "projects/footer", locals: {projects: ["thesocreports", "careerpage"]} %>
