.footer {
  background: #f1f1f1;
}

.footer--dark {
  background: #8E99A8;
  position: relative;

  &.footer--dark:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    background: #a1afc3;
  }

  &.footer--dark:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    width: 40px;
    height: 40px;
    margin-left: -17px;
    margin-top: -17px;
    background: #96a3b6;
  }

  @media (max-width: $medium_width) {
    padding-top: 2rem;
  }
}