.nav {
  font-family: 'Open Sans', sans-serif;
  line-height: 44px;
  min-height: 75px;
  padding: 15px 6rem;
  background: white;
  position: relative;

  @media (max-width: $medium_width) {
    padding: 15px 2em;
  }

  ul {
    display: inline-block;
    margin-bottom: em(10);
  }

  li {
    display: block;
    float: left;
    padding-right: 2em;

    &:last-child {
      padding-right: 0;
    }

    @media (max-width: 600px) {
      padding-right: .8em;
    }
  }

  a:hover {
    color: rgb(83, 188, 145);
  }

  &.nav--dark {
    background: none;

    a:hover {
      color: #def1ff;
    }
  }
}

.logo {
  background-image: url("../images/logo.svg");
  height: 55px;
  width: 155px;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  top: -5px;

  &:hover {
    opacity: 0.8;
  }

  @media (max-width: 770px) {
    display: none;
  }

  .nav--dark & {
    background-image: url("../images/logo-white.svg");
  }
}

.logo--mobile {
  font-family: 'Yellowtail', cursive;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;


  @media (min-width: 771px) {
    display: none;
  }

  @media (max-width: 400px) {
    font-size: 1.2em;
  }

  .nav--dark & {
    color: white;
  }
}

.nav-links {
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  color: grey;

  &.active {
    border-bottom: 2px solid $cyan;
    padding-bottom: .4em;
  }

  .nav--dark & {
    color: white;

    &.active {
      border-bottom-color: white;
    }
  }

  @media (max-width: 400px) {
    font-size: 0.8em;
  }
}