nav {
  background-color: white;
  height: 45px;
  width: 100%;

  ul {
    display: inline-block;
    margin-bottom: em(10);
  }

  li {
    display: block;
    float: left;
    padding: 0;
  }

  a {
    display: block;
    line-height: 45px;
  }

  a:hover {
    color: rgb(83, 188, 145);
  }
}

.logo {
  color: grey;
  font-size: 1.4em;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 17px;
}

.nav-links {
  color: grey;
  font-size: 1em;
  font-weight: 500;
  padding: 0 1em;
  text-decoration: none;
}
