body {
  background: $white;
  color: rgb(75, 75, 75);
  line-height: 1.9rem;
}

img {
  border: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol {
  font-family: 'Lora', serif;
}

a {
  color: rgb(69, 178, 157);
  text-decoration: none;
}

p {
  font-family: 'Lora', serif;
  font-size: 1em;
  line-height: 1.7em;
  margin: 0 0 1em 0;
}

blockquote {
  background: $lightest_gray;
  border-left: 5px solid $gray_cyan;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: $lightest_gray;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}