.article {
  font-size: 20px;

  h3.article-title {
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 10px;

    &, a, a:visited {
      color: rgb(78, 109, 130);
    }
    a:hover {
      color: darken(rgb(78, 109, 130), 5%);
    }
  }
}

.article-body {
  h2, h3, h4 {
    font-weight: normal;
  }

  h2 {
    font-size: 1.3em;
  }
  
  h3 {
    font-size: 1.2em;
  }
 
  h4 {
    font-size: 1.1em;
    margin-bottom: 10px;
  }
}

.date {
  font-size: 0.75em;
}

.teal-link {
  color: rgb(69, 178, 157);
  text-decoration: none;

  &, a, a:visited {
    color: rgb(69, 178, 157);
  }
  a:hover {
    color: darken(rgb(69, 178, 157), 5%);
  }
}
