.submit-button {
  background: $white;
  border: 2px solid $cyan;
  border-radius: 3px;
  color: $gray_blue;
  font-family: "lato",sans-serif;
  padding: .8rem 3rem;
  transition: background 0.3s, color 0.3s;

  &:hover {
    background: $cyan;
    color: $white;
    cursor: pointer;
  }

  @media (max-width: 550px) {
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
  }
}

.section-buttons {
  text-align: center;
  margin-top: 50px;
}

.button-wide {
  display: block;
  text-align: center;
}
