.submit-button {
  background: $white;
  border: 2px solid $cyan;
  border-radius: 3px;
  color: $gray_blue;
  font-family: "lato",sans-serif;
  margin: 0;
  padding: 0.5rem 1rem;
  transition: background 0.3s, color 0.3s;

  &:hover {
    background: $cyan;
    color: $white;
    cursor: pointer;
  }
}

.section-buttons {
  text-align: center;
  margin-top: 50px;
}