.container {
  max-width: 800px;
  padding: 0 $gutter;
  margin: 0 auto;
}

.row {

  &:not(.collapse) {
    margin-left: -$gutter;
    margin-right: -$gutter;
  }
}

.column {
  padding: 0 $gutter;
  float: left;
  width: 100%;
  position: relative;

  &.end {
    float: right;
  }
}

.row.collapse {
  .column {
    padding: 0;
  }
}

@mixin column-widths($size) {
  @for $n from 1 through $grid_columns {
    &.#{$size}-#{$n} {
      width: ($n/$grid_columns) * 100%;
    }
  }
}

// Small
.column {
  @include column-widths(small);
}

// Medium
@media (min-width: $medium_width) {
  .column {
    @include column-widths(medium);
  }
}

// Large
@media (min-width: $large_width) {
  .column {
    @include column-widths(large);
  }
}
