.hide-for-small-only {
  display: none;

  @media (min-width: $medium_width) {
    display: block;
  }
}

.hide-for-large-only {
  @media (min-width: $large_width) {
    display: none;
  }
}

.show-for-small-only {
  @media (min-width: $medium_width) {
    display: none;
  }
}

.show-for-large-up {
  display: none;

  @media (min-width: $large_width) {
    display: block;
  }
}
