.title {
  color: $dark_gray;
  font-family: 'Titillium Web', sans-serif;
  font-size: 2.2em;
  line-height: 1.2em;
  letter-spacing: 2px;

  @media (max-width: $medium_width) {
    font-size: 2em;
  }
}

.subtitle {
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 0 auto;
}

.details {
  background: #f0f0f2;
  border-radius: 3px;
  font-family: 'Lora', serif;
  margin: 2em 0;
  padding: .5em;
  text-align: center;
}

.hero__title {
  color: white;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 3em;
  font-weight: 300;
  line-height: 1.1em;

  @media (max-width: $medium_width) {
    font-size: 2em;
  }
}

.hero__title--transparent {
  background: black;
  padding: .5em;
  opacity: .7;
}

.section__title {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 2em;
  font-weight: 300;
  margin: 0 0 .5em 0;
}

.section__title--light {
  color: white;
}

.section__subtitle {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  margin: 0 0 .5em 0;
}

.section__highlight {
  font-family: 'Lora', serif;
  font-size: 1.2em;
  line-height: 2;
  margin-bottom: 2em;
}

.section__body {
  color: white;
  max-width: 680px;
  margin: 0 auto;
}

.section__number {
  color: #ddd;
}

.list__header {
  border-bottom: double 4px #dbd9d4;
  font-family: 'Dancing Script', cursive;
  font-size: 1.8em;
  padding-bottom: .5em;
}

.list {
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;

  li {
    border-bottom: 1px dashed #dbd9d4;
    font-weight: 1.4em;
    padding: 1em 0;

    &:last-child {
      border-bottom: none;
    }
  }
}

.figcaption {
    font-size: 0.875em;
    color: #979797;
    text-align: center;
    font-family: 'Lora', serif;
    font-style: italic;
}