//Floating
.right {
  float: right;
}

.left {
  float: left;
}

//Margin
.margin-right {
  margin-right: 15px;
}

//Alignment
.center {
  text-align: center;
}

//borders
.no-border {
  border: none;
}

