$medium_width: 640px;
$large_width:  1024px;

$grid_columns: 12;
$gutter: 1.5em;


//Colors
$cyan: #7CD3C8;
$white: white;


//Grays
$dark_gray: #242424;
$gray_blue: #9095A4;
$gray_cyan: #99BABE;
$lightest_gray: #f9f9f9;
$light_gray: #E8E8E8;
$off_white: #fdfdfd;
