@charset "utf-8";
@import "partials/nav";
@import "variables";
@import "responsive";
@import "grid";
@import "blog";


.hero { 
  background-size: cover;
  height: 600px;
  margin-top: -10px;
  margin-bottom: 30px;
  position: absolute;
  width: 100%;
  z-index: -1;

  img {
    width: 100%;
  }
}

body {
  background: white;
  color: rgb(150, 150, 150);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: rgb(69, 178, 157);
  text-decoration: none;
  padding-bottom: 100px;
}

p {
  color: (147, 146, 150);
  font-family: 'Abel', sans-serif; 
}

.mobile-bio {
  font-size: 1.5em;
  float:left;
  width:75%;
  padding-top: 30%;;
  padding-left: 15%;
  line-height:1.5em;
  margin-top: 8em;
  text-align:left;
  color: rgb(78, 109, 130);
  font-family: 'Abel', sans-serif;
  display: block;}

.blog-divider {
  background: #e8e8e8;
  display: block;
  height: 1px;
  margin: 1.25em 0 0 0;
  width: 100%;
}

.placeholder {
  padding-left: 50px;
}

.circle-text {
    width:40%;
}
.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background-color: rgba(51, 77, 92, .90);
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.circle-text div {
    font-size: 1.5em;
    float:left;
    width:90%;
    padding-top: 30%;;
    padding-left: 10%;
    line-height:1.5em;
    margin-top:-0.5em;
    text-align:left;
    color:white;
    font-family: 'Abel', sans-serif; 

  a {
    color: rgb(69, 178, 157);
    text-decoration: none;
  }  
}

.position-center {
  max-width: 1000px;
  padding: 0 $gutter;
  margin-top: 300px;
  margin-left: 100px;
}

.right {
  float: right;
}

