<!doctype html>
<html>
  <head>
    <title>Projects | Typography</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="/stylesheets/normalize.css" rel="stylesheet"/>
    <link href="/stylesheets/main.css" rel="stylesheet"/>
  </head>

  <body>
    <div class="container">
      <nav class="top-nav">
        <ul>
          <li><a href="/projects/typography/">HOME</a></li>
          <li class="separator"></li>
          <li><a href="/projects/typography/humanist">Humanist</a></li>
          <li class="separator"></li>
          <li><a href="/projects/typography/transitional">Transitional</a></li>
          <li class="separator"></li>
          <li><a href="/projects/typography/modern">Modern</a></li>
          <li class="separator"></li>
          <li><a href="/projects/typography/egyptian">Slab Serif</a></li>
          <li class="separator"></li>
          <li><a href="/projects/typography/humanist_sans_serif">Humanist Sans</a></li>
          <li class="separator"></li>
          <li><a href="/projects/typography/transitional_sans_serif">Transitional Sans</a></li>
          <li class="separator"></li>
          <li><a href="/projects/typography/geometric">Geometric Sans</a></li>
        </ul>
      </nav>
    </div>

    <%= yield %>
  </body>
</html>