<!doctype html>
<html>
  <head>
    <title>Projects | Typography</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="/stylesheets/normalize.css" rel="stylesheet"/>
    <link href="./stylesheets/main.css" rel="stylesheet"/>
    <script src="//use.typekit.net/dlt5kod.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>

  <body>
    <div class="container">
      <nav class="top-nav">
        <ul>
           <li><a href="/projects/typography/">HOME</a></li>
          <li class="separator"></li>
          <li><a href="/projects/typography/humanist">Humanist</a></li>
          <li class="separator"></li>
          <li><a href="/projects/typography/transitional.html">Transitional</a></li>
          <li class="separator"></li>
          <li><a href="/projects/typography/modern.html">Modern</a></li>
          <li class="separator"></li>
          <li><a href="/projects/typography/egyptian.html">Slab Serif</a></li>
          <li class="separator"></li>
          <li><a href="/projects/typography/humanist_sans_serif.html">Humanist Sans</a></li>
          <li class="separator"></li>
          <li><a href="/projects/typography/transitional_sans_serif.html">Transitional Sans</a></li>
          <li class="separator"></li>
          <li><a href="/projects/typography/geometric.html">Geometric Sans</a></li>
        </ul>
      </nav>
    </div> 

    <%= yield %>
  </body>
</html>