* {
  box-sizing: border-box;
}

.clearfix, .container {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.row {
  position: relative;
  @extend .clearfix;

  margin: 0 -25px;

}

.column {
  padding: 0 25px;
  width: 100%;

  @media (min-width: 800px) {
    width: 25%;
    padding: 0 10px;
    float: left;
  }

  @media (min-width: 700px) and (max-width: 897px) {
    width: 50%;
    padding: 0 10px;
    float: left;
  }
}

.container {
  max-width: 1000px;
  padding: 0 25px;
  margin: 0 auto;
}

body {
  padding-bottom: 100px;
}

h1 {
  color: white;
  font-family: "lush",sans-serif;
  font-size: 4em;
  font-weight: 400;
  margin: 0;
  padding-top: 20px;
  text-align: center;


  @media (min-width: 680px) {
    font-size: 6em;
  }

  @media (min-width: 900px) {
    font-size: 7em;
  }

  @media (min-width: 1000px) {
    font-size: 10em;
  }

  @media (min-width: 1200px) {
    font-size: 12em;
  }
}

h2 {
  color: #301621;
  font-family: "jaf-bernina-sans-condensed",sans-serif;
  font-weight: 400;
  font-size: 2em;
  padding-top: 50px;
  margin: 0;

   @media (min-width: 640px) {
    font-size: 3em;
    padding-top: 100px;
  }
}


ul {
  padding: 0;
  margin: 0;

  li {
    font-size: 1.5em;
    list-style: none;
    line-height: 2em;
    padding: 0;
  }
}


blockquote {
  color: white;
  font-family: "jaf-bernina-sans-condensed",sans-serif;
  font-weight: 300;
  font-size: 2em;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

section {
  margin: 100px;
}

#hero {
  background-image: url("../images/wood_texture-progressive.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: block;
  padding: 5em 0;
}

.content-divider {
  background: #e8e8e8;
  display: block;
  height: 4px;
  width: 100%;
}


/* Load animation */
@-webkit-keyframes load{0%{stroke-dashoffset:0}}
@keyframes load{0%{stroke-dashoffset:0}}
/* Container */
.progress {
    position: relative;
    display: inline-block;
    padding: 0;
    text-align: center;
}
/* Item */
.progress>li {
    display: inline-block;
    position: relative;
    text-align: center;
    color: #93A2AC;
    font-family: "jaf-bernina-sans-condensed",sans-serif;
    margin: 2rem;
}
.progress>li:before {
    content: attr(skill);
    position: absolute;
    width: 100%;
    bottom: -2rem;
    font-weight:400;
}
.progress>li:after {
    content: attr(rating);
    position: absolute;
    width: 100%;
    top: 3.7rem;
    left: 0;
    font-size: 5rem;
    text-align: center;
}
.progress svg {
  width: 100%;
  height: 10rem;
  fill: none;
  stroke-width: 6;
}

.progress svg.circle path {
  .web-development & {
    stroke: #8CBEB2;
  }

  .design & {
    stroke: #F3B562;
  }

  .personal-skills & {
    stroke: #F06060;
  }
}

.progress svg.circle-mask {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}
.progress svg.circle-mask path {
    stroke-dasharray: 629;
    stroke: #fff;
    opacity:.9;
    -webkit-animation: load 2s;
    -moz-animation: load 2s;
    -o-animation: load 2s;
    animation: load 2s;
}
