---
layout: projects
---


<!DOCTYPE html>
<html>
  <head>
    <title>Projects | Assessment</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="/stylesheets/normalize.css" rel="stylesheet"/>
    <link href="./stylesheets/main.css" rel="stylesheet"/>
    <script src="//use.typekit.net/szn8lcg.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  
  <body>
    <header id="hero">
      <div class="container">
        <h1>Self Assessment</div></h1>
      </div>  
    </header>

    <section class="container">
      <h2>Frontend Development</h2>
      <ul class="progress">
        <li data-name="HTML & SCSS" data-percent="5">
          <svg viewBox="-10 -10 220 220">
          <g fill="none" stroke-width="6" transform="translate(100,100)">
          <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
          <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
          <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
          <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
          <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
          <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
          </g>
          </svg>
          <svg viewBox="-10 -10 220 220">
          <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="320"></path>
          </svg>
        </li>
      </ul>

      <ul class="progress">
        <li data-name="Responsive" data-percent="5">
          <svg viewBox="-10 -10 220 220">
          <g fill="none" stroke-width="6" transform="translate(100,100)">
          <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
          <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
          <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
          <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
          <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
          <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
          </g>
          </svg>
          <svg viewBox="-10 -10 220 220">
          <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="320"></path>
          </svg>
        </li>
      </ul>
    </section>
    
    <section class="container">
      <h2>Backend Development</h2>
      <ul class="progress">
        <li data-name="Ruby" data-percent="6">
          <svg viewBox="-10 -10 220 220">
          <g fill="none" stroke-width="6" transform="translate(100,100)">
          <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
          <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
          <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
          <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
          <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
          <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
          </g>
          </svg>
          <svg viewBox="-10 -10 220 220">
          <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="375.6"></path>
          </svg>
        </li>
      </ul>

      <ul class="progress">
        <li data-name="TDD" data-percent="6">
          <svg viewBox="-10 -10 220 220">
          <g fill="none" stroke-width="6" transform="translate(100,100)">
          <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
          <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
          <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
          <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
          <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
          <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
          </g>
          </svg>
          <svg viewBox="-10 -10 220 220">
          <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="375.6"></path>
          </svg>
        </li>
      </ul>
    </section>

    <section class="container">
      <h2>Design</h2>
      <ul class="progress">
        <li data-name="Adobe Creative Suite" data-percent="8">
          <svg viewBox="-10 -10 220 220">
          <g fill="none" stroke-width="6" transform="translate(100,100)">
          <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
          <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
          <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
          <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
          <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
          <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
          </g>
          </svg>
          <svg viewBox="-10 -10 220 220">
          <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="503.2"></path>
          </svg>
        </li>
      </ul>

      <ul class="progress">
        <li data-name="Graphic Design" data-percent="8">
          <svg viewBox="-10 -10 220 220">
          <g fill="none" stroke-width="6" transform="translate(100,100)">
          <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
          <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
          <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
          <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
          <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
          <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
          </g>
          </svg>
          <svg viewBox="-10 -10 220 220">
          <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="503.2"></path>
          </svg>
        </li>
      </ul>

      <ul class="progress">
        <li data-name="Typography" data-percent="7">
          <svg viewBox="-10 -10 220 220">
          <g fill="none" stroke-width="6" transform="translate(100,100)">
          <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
          <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
          <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
          <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
          <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
          <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
          </g>
          </svg>
          <svg viewBox="-10 -10 220 220">
          <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="440.3"></path>
          </svg>
        </li>
      </ul>

      <ul class="progress">
        <li data-name="Creativity" data-percent="10">
          <svg viewBox="-10 -10 220 220">
          <g fill="none" stroke-width="6" transform="translate(100,100)">
          <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
          <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
          <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
          <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
          <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
          <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
          </g>
          </svg>
          <svg viewBox="-10 -10 220 220">
          <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="629"></path>
          </svg>
        </li>
      </ul>
    </section>

    <section class="container">
      <h2>Personal Skills</h2>
      <ul class="progress">
        <li data-name="Desire to learn" data-percent="10">
          <svg viewBox="-10 -10 220 220">
          <g fill="none" stroke-width="6" transform="translate(100,100)">
          <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
          <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
          <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
          <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
          <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
          <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
          </g>
          </svg>
          <svg viewBox="-10 -10 220 220">
          <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="629"></path>
          </svg>
        </li>
      </ul>

      <ul class="progress">
        <li data-name="Adaptability" data-percent="10">
          <svg viewBox="-10 -10 220 220">
          <g fill="none" stroke-width="6" transform="translate(100,100)">
          <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
          <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
          <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
          <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
          <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
          <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
          </g>
          </svg>
          <svg viewBox="-10 -10 220 220">
          <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="629"></path>
          </svg>
        </li>
      </ul>

      <ul class="progress">
        <li data-name="Empathy" data-percent="10">
          <svg viewBox="-10 -10 220 220">
          <g fill="none" stroke-width="6" transform="translate(100,100)">
          <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
          <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
          <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
          <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
          <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
          <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
          </g>
          </svg>
          <svg viewBox="-10 -10 220 220">
          <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="629"></path>
          </svg>
        </li>
      </ul>





     
    </section>




      
    <!--  Defining Angle Gradient Colors  -->
      <svg width="0" height="0">
      <defs>
      <linearGradient id="cl1" gradientUnits="objectBoundingBox" x1="0" y1="0" x2="1" y2="1">
          <stop stop-color="#301621"/>
          <stop offset="100%" stop-color="#693F36"/>
      </linearGradient>
      <linearGradient id="cl2" gradientUnits="objectBoundingBox" x1="0" y1="0" x2="0" y2="1">
          <stop stop-color="#693F36"/>
          <stop offset="100%" stop-color="#736142"/>
      </linearGradient>
      <linearGradient id="cl3" gradientUnits="objectBoundingBox" x1="1" y1="0" x2="0" y2="1">
          <stop stop-color="#736142"/>
          <stop offset="100%" stop-color="#869157"/>
      </linearGradient>
      <linearGradient id="cl4" gradientUnits="objectBoundingBox" x1="1" y1="1" x2="0" y2="0">
          <stop stop-color="#869157"/>
          <stop offset="100%" stop-color="#817a94"/>
      </linearGradient>
      <linearGradient id="cl5" gradientUnits="objectBoundingBox" x1="0" y1="1" x2="0" y2="0">
          <stop stop-color="#817a94"/>
          <stop offset="100%" stop-color="#D3ED9F"/>
      </linearGradient>
      <linearGradient id="cl6" gradientUnits="objectBoundingBox" x1="0" y1="1" x2="1" y2="0">
          <stop stop-color="#D3ED9F"/>
          <stop offset="100%" stop-color="#301621"/>
      </linearGradient>
      </defs>
      </svg>

      <blockquote>
        &ldquo;Stay hungry, stay young, stay foolish, stay curious, and above all, stay humble because just when you think you got all the answers, is the moment when some bitter twist of fate in the universe will remind you that you very much don't.&rdquo;
        <cite>-  Tom Hiddleston</cite>
      </blockquote>
    </div>                
  </body>
</html>  