/* line 4, ../projects/positioning/stylesheets/main.css.scss */
body {
  font-family: "servus-slab",sans-serif;
  font-weight: 400;
  color: #7d7d7d;
  background: #fdfdfd; }

/* line 11, ../projects/positioning/stylesheets/main.css.scss */
p {
  font-family: "servus-slab",sans-serif;
  font-weight: 400;
  font-size: 1em;
  font-style: normal;
  line-height: 1.7em; }

/* line 19, ../projects/positioning/stylesheets/main.css.scss */
p.message {
  font-size: 3em;
  line-height: 50px;
  color: #C1CE96;
  margin-top: 100px;
  margin-left: 15px; }

/* line 27, ../projects/positioning/stylesheets/main.css.scss */
span.intro {
  font-family: "servus-slab",sans-serif;
  font-size: 2em;
  color: black; }

/* line 33, ../projects/positioning/stylesheets/main.css.scss */
h2, h3 {
  margin: 2em 0 1em 0;
  color: #353129; }

/* line 39, ../projects/positioning/stylesheets/main.css.scss */
.title {
  position: absolute;
  color: white;
  margin-top: -250px;
  z-index: 1;
  font-size: 3em; }
  @media (min-width: 1024px) {
    /* line 39, ../projects/positioning/stylesheets/main.css.scss */
    .title {
      font-size: 4em; } }

/* line 53, ../projects/positioning/stylesheets/main.css.scss */
.header {
  background-color: #484a47;
  background-image: url("../images/forest.png");
  background-size: cover;
  height: 500px;
  width: 100%;
  margin-bottom: 50px; }

/* line 62, ../projects/positioning/stylesheets/main.css.scss */
.divider {
  background: #e8e8e8;
  display: block;
  height: 3px;
  margin: 1.25em 0 0 0;
  width: 100%; }

/* line 70, ../projects/positioning/stylesheets/main.css.scss */
.fox {
  background-image: url("../images/grey_fox_shadow.png");
  background-repeat: no-repeat;
  position: fixed;
  top: 15px;
  left: 15px;
  width: 200px;
  height: 200px;
  z-index: 999; }

/* line 81, ../projects/positioning/stylesheets/main.css.scss */
.red-fox {
  background-image: url("../images/red_fox.png");
  background-repeat: no-repeat;
  position: relative;
  width: 300px;
  height: 300px; }

/* line 90, ../projects/positioning/stylesheets/main.css.scss */
.blue-fox {
  background-image: url("../images/blue_fox.png");
  background-repeat: no-repeat;
  position: relative;
  width: 200px;
  height: 170px; }

/* line 98, ../projects/positioning/stylesheets/main.css.scss */
.static {
  position: static; }

/* line 102, ../projects/positioning/stylesheets/main.css.scss */
.relative {
  position: relative;
  left: 200px; }

/* line 107, ../projects/positioning/stylesheets/main.css.scss */
.relative2 {
  position: relative;
  left: 20px; }

/* line 112, ../projects/positioning/stylesheets/main.css.scss */
.absolute {
  position: absolute;
  top: 100px;
  left: 120px; }

/* line 118, ../projects/positioning/stylesheets/main.css.scss */
.z-index {
  z-index: -1; }

/* line 122, ../projects/positioning/stylesheets/main.css.scss */
.box {
  width: 100%;
  height: 320px;
  border: 4px dotted #687D77;
  margin-top: 30px; }

/* line 129, ../projects/positioning/stylesheets/main.css.scss */
.left {
  float: left; }

/* line 133, ../projects/positioning/stylesheets/main.css.scss */
.right {
  float: right; }

/* line 137, ../projects/positioning/stylesheets/main.css.scss */
.footer {
  background-color: #353129;
  width: 100%;
  height: 80px;
  display: block;
  bottom: 0;
  left: 0;
  margin-top: 50px; }
