---
layout: layout
section: work
---

<%= partial "partials/nav" %>

<section class="fade-in hero__image cityscape">
  <div class="content-container">
    <div class="column large-6">
      <h1 class="hero__title hero__title--transparent">How might we help brokerages be more efficient?</h1>
    </div>
  </div>
</section>

<div class="content-container">
  <section class="section center">
    <img src="/images/portfolio/buildout/buildout-logo.svg" class="header__icon">
    <h2 class="section__title">About Buildout</h1>

    <p class="section__header center">B2B SasS product used by top commercial real estate companies (SVN, Avison Young, NAI Global, Caldwell Banker Commercial, Lee & Associates) to power their marketing and brokerage operations.
   </p>
  </section>

   <section class="row section">
    <div class="column large-6">
      <h2 class="section__title"><span class="section__number">01.</span> Project Overview</h1>
      <div class="details">My Role: Product Manager & Designer</div>

      <p>Since its founding in 2011, Buildout has worked to help commercial real estate brokerage offices, brokers, and marketing teams create marketing materials that help them bring in more business, build a stronger brand, and save countless hours of manual work.</p>

      <p>I joined Buildout at an exciting time. They had just <a target="_blank" href="https://www.builtinchicago.org/2017/06/15/buildout-raises-8m-commercial-real-estate-marketing"> raised 8M in funding</a> and had ambitious hopes to build new products that would be <em>an end to end solution for Commercial Real Estate Brokerages</em>.</p>

      <p>I joined as the second UX Designer, and knew that we had our work cut out for us. I ended up wearing the hats of both designer and product manager to ensure that not only was our product solving the needs of our users, but that everyone on the team was aligned with our goals and priorities. I worked with all parts of our team - I rallied our developers behind our product vision, I worked with our support team to ensure they could answer our users’ questions, I managed expectations with business stakeholders, and I spoke directly with our users to really understand how they work.</p>
    </div>

    <div class="column large-6">
      <img src="/images/portfolio/buildout/buildout_marketing.png" class="section__image">
    </div>

  </section>

  <section class="row section">

    <div class="column large-6">
      <img src="/images/portfolio/buildout/process-images.png" class="section__image">
    </div>

    <div class="column large-6">
      <h2 class="section__title"><span class="section__number">02.</span> The pressure was on</h1>

      <p>The vision our small but mighty 3 person product team had been given was very massive:</p>

      <blockquote><em>“An end to end solution for Commercial Real Estate Brokerages”</em>.</blockquote>

      <p>Our first mission was to truly understand what that meant for our current and prospective customers.</p>

      <ol>
        <li>We started by conducting interviews with different commercial real estate offices (current and prospective Buildout users). We spoke with the teams, Managing directors, marketing members, brokers, accountants, and the swiss army of knives of the company. We learned about each person’s role in the office, what their current process looked like, the tools they were using, what was working well, and pain points they had individually and as a team.</li>

        <li>Researched competitors in the space of Contact relationship software, Deal management, and Accounting.</li>

        <li>Researched solutions used by different markets.</li>

        <li>Studied and dissected the various documents, excel spreadsheets, and data that our interviewees sent over.</li>
      </ol>
    </div>

  </section>

   <section class="row section">

    <div class="column large-6">
      <h2 class="section__title"><span class="section__number">03.</span> Outcomes & Lessons</h1>

      <p>To start, we launched a beta version of our products so we could iterate quickly, test, and validate our work with real data and users. It was exciting to see how much impact our product was making for our customers right from the get-go. People were excited to get in and start adding their data so they could finally have a true view into how their company was doing and how much money they could be expecting at any point. We officially launched to the world in 2020.</p>

      <p>Building Elite was a wild ride with a lot of high and low moments. There were interesting challenges we faced because we were unable to unveil our new products to the world yet. Here are a few lessons we learned:</p>

       <ul>
        <li class="card__list card__list--light-grey">
        Even though new products are very exciting, it is important to remember how your current product enabled you to be successful. At times we put too much effort into the new products, while not continuing to provide value for our current customers.
        </li>
        <li class="card__list card__list--light-grey">Launching a product is more than just making sure the product is going to be a good user experience and technically stable in the external world. There was a lot of internal team infrastructure that we needed in place before we could properly support our new products.</li>
      </ul>

      <div class="section center">
        <a class="submit-button" href="https://features.buildout.com/tour/elite/overview" target="_blank">See what my team and I built  <i class="fas fa-external-link-alt fa-md"></i></a>
      </div>

    </div>

    <div class="column large-6">
      <img src="/images/portfolio/buildout/forcasting.png" class="section__image">
    </div>

  </section>
</div>

<%= partial "projects/footer", locals: {projects: ["thesocreports", "jellybeans"]} %>