---
layout: layout
section: work
---

<%= partial "partials/nav" %>

<section class="fade-in hero__image cityscape">
  <div class="content-container">
    <div class="column large-6">
      <h1 class="hero__title hero__title--transparent">How might we help brokerages be more efficient?</h1>
    </div>
  </div>
</section>

<div class="content-container">
  <section class="section center">
    <img src="/images/portfolio/buildout/buildout-logo.svg" class="header__icon">
    <h2 class="section__title">About Buildout</h1>

    <p class="section__header center">B2B SasS product used by top commercial real estate companies (SVN, Avison Young, NAI Global, Caldwell Banker Commercial, Lee & Associates) to power their marketing and brokerage operations.
   </p>
  </section>

   <section class="row section">
    <div class="column large-6">
      <h2 class="section__title"><span class="section__number">01.</span> Project Overview</h1>
      <div class="details">My Role: Product Manager & Designer</div>

      <p>I joined Buildout at an exciting time. They had just <a target="_blank" href="https://www.builtinchicago.org/2017/06/15/buildout-raises-8m-commercial-real-estate-marketing"> raised 8M in funding</a> and had ambitious plans to build new products that would be an end to end solution for Commercial Real Estate Brokerages. I joined as the second UX Designer, and knew that we had our work cut out for us.</p>

      <div class="section">
        <a class="submit-button" href="https://features.buildout.com/tour/elite/overview" target="_blank">See what my team and I built</a>
      </div>
    </div>

    <div class="column large-6">
      <img src="/images/portfolio/buildout/forcasting.png" class="section__image">
    </div>

  </section>
</div>

<%= partial "projects/footer", locals: {projects: ["thesocreports", "jellybeans"]} %>