<nav>
  <ul>
    <li>
      <%= link_to "Erica Garcia", "index.html", :class => 'logo' %>
    </li>
  </ul>  
  <ul>    
    <li class="right">  
      <%= link_to "Blog", "blog.html", :class => 'nav-links' %>
    </li>
  </ul>
</nav>