<nav class="nav">
  <ul>
    <li>
      <%= link_to "< Erica.Garcia />", "/index.html", :class => 'logo' %>
    </li>
  </ul>
  <ul class="right">
    <li>
      <%= link_to "Blog", "/blog.html", :class => 'nav-links' %>
    </li>
    <li>
      <%= link_to "Work", "/projects.html", :class => 'nav-links' %>
    </li>
  </ul>
</nav>


