<footer class="footer--dark">
  <div class="content-container">
    <section class="section center">
      <h2 class="section__title section__title--light">Want to see more?</h2>

      <p class="section__body margin-top">
      Unfortunately, I'm unable to show most of my client work. However, I'm always willing to chat about the awesome adventures I've had building mobile and web experiences from scratch and in pre-existing systems. </p>

      <div class="margin-top">
        <a href="https://github.com/Sneakingrocky" target="_blank" class="circle__icon">
          <img src="/images/portfolio/github_icon.svg"/>
        </a>
        <a href="https://www.linkedin.com/in/ericagarciadesign" target="_blank" class="circle__icon">
          <img src="/images/portfolio/linkedin_icon.svg"/>
        </a>
        <a href="https://www.instagram.com/sneakingrocky" target="_blank" class="circle__icon">
          <img src="/images/portfolio/instagram_icon.svg"/>
          </a>
        <a href="https://twitter.com/SneakingRocky" target="_blank" class="circle__icon">
          <img src="/images/portfolio/twitter_icon.svg"/>
        </a>
      </div>
    </section>
  </div>
</footer>