---
layout: projects
---

<!DOCTYPE html>
<html>
  <head>
    <title>Projects | Architecture</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="/stylesheets/normalize.css" rel="stylesheet"/>
    <link href="./stylesheets/main.css" rel="stylesheet"/>
    <script src="//use.typekit.net/cor6evz.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  
  <body>

    <header class="hero">
      <nav>
        <a href="/" class="logo">
          <img src="images/logo.png" alt="logo">
        </a>
        <ul>
          <li>home</li>
          <li>about us</li>
          <li>blog</li>
          <li>store</li>
          <li>menu</li>
          <li>reservation</li>
        </ul>
      </nav> 
      <h1>Food Passion</h1>   
    </header>

    <section class="team clearfix">
      <div class="container team__description">
        <h2 class="section-title">About Our Chefs</h2>
        <figure>
          <img src="images/chef_headshot.png" alt="chef_photo" class="right">
        </figure>  
        <div class="name">Gustave Berneir</div>
        <div class="title">Executive Chef</div>
        <div class="bio-snippet left">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </div> 
        <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie. Curabitur pellentesque massa eu nulla consequat sed porttitor arcu porttitor.
        <p>
      </div>
      <figure>
        <img src="images/chef.jpg" alt="chef_photo" class="about-photo">
      </figure>  
    </section>


    <section class="navy clearfix white-font">
      <div class="container"> 
        <h2 class="section-title">Our Gallery</h2>
        <p class="bio-snippet">Aenean sodales dictum augue, in faucibus nisi sollicitudin eu. Nulla semper arcu vel diam auctor. condimentum. Nam molestie sem eu quam fermentum a tempus nisi aliquet.
        </p>
      </div>
    </section>

    <section class="gallery clearfix">
      <img src="images/gallery1.jpg" alt="Marine Food Gallery">
      <img src="images/gallery2.jpg" alt="Marine Food Gallery">
      <img src="images/gallery3.jpg" alt="Marine Food Gallery">
      <img src="images/gallery4.jpg" alt="Marine Food Gallery">
      <img src="images/gallery5.jpg" alt="Marine Food Gallery">
      <img src="images/gallery6.jpg" alt="Marine Food Gallery">
      <img src="images/gallery7.jpg" alt="Marine Food Gallery">
      <img src="images/gallery8.jpg" alt="Marine Food Gallery">
      <img src="images/gallery9.jpg" alt="Marine Food Gallery">
      <img src="images/gallery10.jpg" alt="Marine Food Gallery">
    </section>  

    <div class="container clearfix">  
        <section class="row services">
          <h2 class="section-title">Our Services</h2>
          <p>Aenean sodales dictum augue, in faucibus nisi sollicitudin eu. Nulla semper arcu vel diam auctor. condimentum. Nam molestie sem eu quam fermentum a tempus nisi aliquet.</p>
        <div class="column">
          <figure>
            <img src="images/coffee_cup.png" alt="coffee_cup">
          </figure>  
          <h3>Breakfast</h3>
          <p>Lorem ipsum dolor sit amet, tetur piscing elit. Suspendisse smod congue bibendum.</p>
        </div>

        <div class="column">
          <figure>  
            <img src="images/lunch_drawing.png" alt="lunch_drawing">
          </figure> 
          <h3>Lunch</h3>
          <p>Lorem ipsum dolor sit amet, tetur piscing elit. Suspendisse smod congue bibendum.</p>
        </div>

        <div class="column">
          <figure>
            <img src="images/dinner_drawing.png" alt="dinner_drawing">
          </figure> 
          <h3>Dinner</h3>
          <p>Lorem ipsum dolor sit amet, tetur piscing elit. Suspendisse smod congue bibendum.</p>
        </div> 

        <div class="column">
          <figure>
            <img src="images/custom_drawing.png" alt="custom_drawing">
          </figure> 
          <h3>Custom</h3>
          <p>Lorem ipsum dolor sit amet, tetur piscing elit. Suspendisse smod congue bibendum.</p>
        </div>  
      </section>
    </div>  

      <section class="navy white-font">

        <div class="container">  
          <h2 class="section-title">Our Breakfast</h2>
          <div>Soft-Boiled Organic Eggwith “soldiers” 5.00</div>
          <div>Eggs Any Style with homefries & toast 16.00</div>
          <div>Scrambled Eggs in Puff Pastry with wild mushrooms and asparagus 22.00</div>
          <div>Eggs Benedict with homefries 22.00</div>
          <div>Soft-Boiled Organic Egg with “soldiers” 5.00</div>
          <div>Eggs Any Style with homefries & toast 16.00</div>
          <div>Scrambled Eggs in Puff Pastry with wild mushrooms and asparagus 22.00</div>
          <div>Eggs Benedict with homefries 22.00</div> 
        </div>  
      </section>
 

     <section class="gallery clearfix">
      <img src="images/gallery1.jpg" alt="Marine Food Gallery">
      <img src="images/gallery2.jpg" alt="Marine Food Gallery">
      <img src="images/gallery3.jpg" alt="Marine Food Gallery">
      <img src="images/gallery4.jpg" alt="Marine Food Gallery">
      <img src="images/gallery5.jpg" alt="Marine Food Gallery">
      <img src="images/gallery6.jpg" alt="Marine Food Gallery">
      <img src="images/gallery7.jpg" alt="Marine Food Gallery">
      <img src="images/gallery8.jpg" alt="Marine Food Gallery">
      <img src="images/gallery9.jpg" alt="Marine Food Gallery">
      <img src="images/gallery10.jpg" alt="Marine Food Gallery">
    </section>  


    <footer class="navy">

      <form class="contact-form-container contact-form">
        <h1 class="section-title">Contact Us</h1>
        <input type="text" name="name" placeholder="name">
        <input type="email" name="email-address" placeholder="name@domain.com">
        <textarea name="comment">Message here</textarea>
        <input type="submit" name="submit" value="Send Message" class="btn-default">
      </form>

      <address class="column right">
        <p>
          <span>The Gourmet.</span>
          <span>PO Box 21177</span>
          <span>Little Lonsdale St, Melbourne</span>
          <span>Victoria 8011 Australia</span>
        </p>

        <p>  
          <span>Phone: (415) 124-5678</span>
          <span>Fax: (415) 124-5678</span>
          <span>Marine Food Address</span>
        </p>
        
        <p>  
          <span>support@yourname.com</span>
        </p>
      </address>

    <p class="copyright">© 2015 The Gourmet. All Rights Reserved</p>
    </footer>
  </body>
</html>    



