---
layout: layout
section: work
---

<%= partial "partials/nav" %>

<section class="hero__image beach">
  <div class="content-container">
    <div class="column large-6">
      <h1 class="hero__title hero__title--transparent">How might we bring the digital age to the travel industry?</h1>
    </div>
  </div>
</section>

<div class="content-container">
  <section class="section center">
    <img src="/images/portfolio/axus/axus-logo.jpg" class="header__icon">
    <h2 class="section__title">About Axus</h1>

    <p class="section__header center">AXUS Travel App is a growing technology company revolutionizing the way travel advisors, travelers, and service providers interact. Built by travel experts, AXUS is a leading itinerary management solution helping make travel easier and more enjoyable for everyone.
   </p>

   <div class="details">My Role: Lead Designer</div>

    <div class="section center">
      <a class="submit-button" href="https://axustravelapp.com/" target="_blank">View Live Site</a>
    </div>
  </section>

   <section class="section center">
    <h2 class="section__title"><span class="section__number">01.</span> An itinerary that agents love building</h1>
    <img src="/images/portfolio/axus/collage-large.jpg" class="section__image">

  </section>

</div>

<%= partial "projects/footer", locals: {projects: ["thesocreports", "jellybeans"]} %>