* {
  box-sizing: border-box;
}

body {
  background: #ddd;
}

ul {
  padding: 0;

  li {
    line-height: 2;
    list-style: none;
  }
}


.less-line-height {
  p, 
  h4 {
    line-height: 1.2em;
  }
}

.magazine-container {
  background: white;
  border: 1px solid #F0F0F0;
  margin: 30px auto;
  position: relative;
  width: 1100px;
  z-index: 1;
}

.container {
  margin: 100px;
}

.row {
  position: relative;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.column {
  width: 25%;
  padding: 0 15px;
  float: left;
}

.hero {
  padding-top: 250px;
}


.hero-img {
  position: absolute;
  right: -100px;
  top: 0;
  z-index: -1;
}

.artwork-caption {
  font-size: .8em;
  margin: 0;
}

.underline-heading-container {
  margin-bottom: 2px;
}

.underline-heading {
  border-bottom: solid 2px #000000;
  color: black;
  font-family: "adriane",serif;
  font-size: 1.1em;
  font-weight: 400;
}

.large-heading {
  background: white;
  color: black;
  display: inline-block;
  font-family: "nimbus-sans-condensed", sans-serif;
  font-size: 10em;
  font-weight: 700;
  line-height: 1em;
  margin: 0;
  padding-right: 20px;
  z-index: 1;
}

.photo-caption {
  color: black;
  font-size: .8em;
  font-weight: 700;
  margin: 0;
}

.article-info {
  color: #aaa;
  margin: 0;
  padding-top: 30px;
}

.article-body {
  margin-top: 100px;

  .column:first-child {
    margin-top: -150px;
    margin-left: 25%;
  }

  h4 {
    color: black;
    font-family: "ratio-display",sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    line-height: 1.4;
    margin: 0;
  }

  p {
    color: black;
    font-family: "ratio-display",sans-serif;
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .pull-quote {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25%;
    margin: 0;

    p {
      color: rgb(119, 32, 64);
      font-family: "jaf-bernino-sans-comp",sans-serif;
      font-size: 3.2em;
      font-weight: 700;
      line-height: 1;
      padding: 0 15px;
      text-transform: uppercase;
    }
  }
}

.circle {
  background-color: black;
  border-radius: 50%;
  width: 18px;
  height: 18px; 
  position: relative;
  bottom: 15px;
}

.page-footer {
  color: black;
  font-family: "brandon-grotesque",sans-serif;
  font-size: .8em;
  font-weight: 300;
  float: right;
}

.page-number {
  font-size: 1.5em;
}

