h4 {
  color: black;
  line-height: 1.4em;
  margin-bottom: 0;
}

p {
  color: black;
  line-height: 1.5em;
  margin-top: 0;
}

ul {
  margin-bottom: 48px;
  
  li {
    line-height: 2em;
  }
}


.magazine-container {
  margin-top: 100px;
  position: relative;
  height: 1500px;
  width: 1200px;
  border: 1px solid #F0F0F0;
}

.content-container {
  position: absolute;
  top: 507px;
  left: 230px;
  height: 700px;
  width: 1200px;
  border: 1px solid #F0F0F0;
}

.article-header {
  position: relative;
  top: 350px;
  left: 150px;
}

.name {
  background-color: white;
  color: black;
  font-size: 6em;
  width: 665px;
  padding: 15px;
  text-align: right;
 
}

.location-text {
  position: relative;
  right: 20px;
}

.career {
  color: black;
  text-decoration: underline;
  position: relative;
  left: 55px;
}

.picasso-img {
  display: block;
  position: absolute;
  top: 55px;
  right: 0;
}

.artwork-text {
  font-size: .8em;
}

.sara-img {
  background-repeat: no-repeat;
  width: 180px;
  height: 180px;
}

.interview-info {
  margin-top: 40px;
}

.quote {
  color: rgb(119, 32, 64);
  font-size: 2em;
  font-weight: 700;
  position: relative;
  top: 440px;
  right: 20px;
  width: 250px;
}

.circle {
  border-radius: 50%;
  width: 30px;
  height: 30px; 
}

.margin-top {
  margin-top: 280px;
}