---
layout: projects
---

<!doctype html>
<html>
  <head>
    <title>Projects | Typography</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="/stylesheets/normalize.css" rel="stylesheet"/>
    <link href="../stylesheets/main.css" rel="stylesheet"/>
    <script src="//use.typekit.net/dlt5kod.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
 
  <body>
    
    <div class="container">
      <nav class="top-nav">
        <ul>
          <li><a href="/projects/typography/humanist">Humanist</a></li>
          <li class="separator"></li>
          <li><a href="/projects/typography/transitional">Transitional</a></li>
          <li class="separator"></li>
          <li><a href="/projects/typography/modern">Modern</a></li>
          <li class="separator"></li>
          <li><a href="/projects/typography/egyptian">Slab Serif</a></li>
          <li class="separator"></li>
          <li><a href="/projects/typography/humanist_sans_serif">Humanist Sans</a></li>
          <li class="separator"></li>
          <li><a href="/projects/typography/transitional_sans_serif">Transitional Sans</a></li>
          <li class="separator"></li>
          <li><a href="/projects/typography/geometric">Geometric Sans</a></li>
        </ul>
      </nav>
    </div>

    <div class="container">
      <section>
        <h1>Slab Serif</h1>
          <div class="row">
            <div class="column">
              <figure>
                <div class="typeface-example clarendon">Aa
                </div>
              </figure>
            </div>
          <div class="column">      
            <h3>About the style</h3>
            <p>During the 19th Century advertisers were looking for type that would stand out. Thus was born the Egyptian/Slab Serif fonts. They are known for being bold, decorative, with heavy slab like serifs. </p>
          </div>
        </div>    
      </section>
    </div>

          

    <div class="container">
      <section>
        <h2>Example font: Clarendon</h2>

        <div class="clarendon typeface-characters">      
          <p class="clarendon capitalize">a b c d e f g h i j k l m n o p q r s t u v w x y z </p>
          <p class="clarendon">a b c d e f g h i j k l m n o p q r s t u v w x y z </p>
          <p class="clarendon">1 2 3 4 5 6 7 8 9 </p>
        </div>

        <div class="row">
          <div class="column">
            <figure>
              <div class="typeface-example clarendon">Bb
              </div>
            </figure>
          </div>

          <div class="column">      
            <h3>Cap-height</h3>
            <p>The cap height refers to the height of a capital letter above the baseline for a particular typeface.</p>

            <h3>X-Height</h3>
            <p>The X-Height is the height of the main body of the lowercase letter (or the height of a lowercase x), excluding its ascenders and descenders. Clarendon has a large X-Height</p>

            <h3>Base-line</h3>
            <p>The baseline is an invisible line of alignment on which all of the letters sit. Because it is the most stable axis along a line of text it is a great tool for aligning text with images or other text.</p>
          </div>
        </div>    
      </section>
    </div>



    <div class="container">
      <section>
        <h2>Font pairing</h2>
        <h3>Finding the perfect match for Clarendon...</h3>
        <p>Let’s be honest, when you’re going to be spending a lot of time with someone you want to make sure that your personalities compliment each other well. The same goes for the type in your projects - they are going to be spending a lot of time together and it’d be ideal for them to hit it off. Let’s pretend that choosing a typefaces pair is like trying to set up a friend with someone that’ll have them at “hello”.
        </p> 
      </section>


      <section>
        <h2>The Perfect Match: Maiola</h2>
        <div class="maiola typeface-characters">      
          <p class="maiola capitalize">a b c d e f g h i j k l m n o p q r s t u v w x y z </p>
          <p class="maiola">a b c d e f g h i j k l m n o p q r s t u v w x y z </p>
          <p class="maiola">1 2 3 4 5 6 7 8 9 </p>
        </div>  
      </section>
    </div>      


    <div class="container">
      <section>
        <div class="row">
          <div class="column">
            <figure>
              <div class="typeface-example maiola">Bb
              </div> 
            </figure>
          </div>
          <div class="column">      
            <h3>Why is she the perfect match?</h3>
            <p>Clarendon has a funky personality just like Maiola. They both have similar widths and contrast. Clarendon is great at calling attention to himself and you can find him hanging around in places that need a statement made - such as a header. Maiola keeps things exciting but is still readable in larger bodies of text.</p>
          </div>
        </div>  
      </section>
    </div>
  </body>
</html>  
