---
layout: projects
---

<!doctype html>
<html>
  <head>
    <title>Projects | Typography</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="/stylesheets/normalize.css" rel="stylesheet"/>
    <link href="../stylesheets/main.css" rel="stylesheet"/>
    <script src="//use.typekit.net/dlt5kod.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
 
  <body>
    
    <div class="container">
      <nav class="top-nav">
        <ul>
          <li><a href="/projects/typography/humanist">Humanist</a></li>
          <li class="separator"></li>
          <li><a href="/projects/typography/transitional">Transitional</a></li>
          <li class="separator"></li>
          <li><a href="/projects/typography/modern">Modern</a></li>
          <li class="separator"></li>
          <li><a href="/projects/typography/egyptian">Slab Serif</a></li>
          <li class="separator"></li>
          <li><a href="/projects/typography/humanist_sans_serif">Humanist Sans</a></li>
          <li class="separator"></li>
          <li><a href="/projects/typography/transitional_sans_serif">Transitional Sans</a></li>
          <li class="separator"></li>
          <li><a href="/projects/typography/geometric">Geometric Sans</a></li>
        </ul>
      </nav>
    </div>

    <div class="container">
      <section>
        <h1>Geometric Sans</h1>
          <div class="row">
            <div class="column">
              <figure>
                <div class="typeface-example futura">Aa
                </div>
              </figure>
            </div>
          <div class="column">      
            <h3>About the style</h3>
            <p>Geometric sans serif types are built around geometric forms such as circles and triangles. If you look closely you can see these shapes within the letterforms.</p>
          </div>
        </div>    
      </section>
    </div>

          

    <div class="container">
      <section>
        <h2>Example font: Futura PT</h2>

        <div class="futura typeface-characters">      
          <p class="futura capitalize">a b c d e f g h i j k l m n o p q r s t u v w x y z </p>
          <p class="futura">a b c d e f g h i j k l m n o p q r s t u v w x y z </p>
          <p class="futura">1 2 3 4 5 6 7 8 9 </p>
        </div>

        <div class="row">
          <div class="column">
            <figure>
              <div class="typeface-example futura">Bb
              </div>
            </figure>
          </div>

          <div class="column">      
            <h3>Cap-height</h3>
            <p>The cap height refers to the height of a capital letter above the baseline for a particular typeface.</p>

            <h3>X-Height</h3>
            <p>The X-Height is the height of the main body of the lowercase letter (or the height of a lowercase x), excluding its ascenders and descenders. Futura has a small X-Height.</p>

            <h3>Base-line</h3>
            <p>The baseline is an invisible line of alignment on which all of the letters sit. Because it is the most stable axis along a line of text it is a great tool for aligning text with images or other text.</p>
          </div>
        </div>    
      </section>
    </div>



    <div class="container">
      <section>
        <h2>Font pairing</h2>
        <h3>Finding the perfect match for Futura PT...</h3>
        <p>Let’s be honest, when you’re going to be spending a lot of time with someone you want to make sure that your personalities compliment each other well. The same goes for the type in your projects - they are going to be spending a lot of time together and it’d be ideal for them to hit it off. Let’s pretend that choosing a typefaces pair is like trying to set up a friend with someone that’ll have them at “hello”.
        </p> 
      </section>


      <section>
        <h2>The Perfect Match: Ratio Modern</h2>
        <div class="typeface-characters">      
          <p class="ratio-modern capitalize">a b c d e f g h i j k l m n o p q r s t u v w x y z </p>
          <p class="ratio-modern">a b c d e f g h i j k l m n o p q r s t u v w x y z </p>
          <p class="ration-modern">1 2 3 4 5 6 7 8 9 </p>
        </div>  
      </section>
    </div>      


    <div class="container">
      <section>
        <div class="row">
          <div class="column">
            <figure>
              <div class="typeface-example ratio-modern">Bb
              </div> 
            </figure>
          </div>
          <div class="column">      
            <h3>Why is he the perfect match?</h3>
            <p>Futura is a low contrast font who has always dreamed of finding a font face similar to herself. She finds comfort in her similarities with Ratio Modern - similar weights, widths, and small X-Heights.
            </p>
          </div>
        </div>  
      </section>
    </div>
  </body>
<html>