---
layout: typography
---

<div class="container">
  <section>
    <h1>Humanist</h1>
      <div class="row">
        <div class="column">
          <figure>
            <div class="typeface-example garamond">Aa
            </div>
          </figure>
        </div>
      <div class="column">      
        <h3>About the style</h3>
        <p>The Humanist types appeared during 15th Century and emulated classical calligraphy and the open forms of the Italian humanist writers. Some basic characteristics of these typefaces are: Relatively small x-height, a sloping crossbar on the lowercase “e”, and little variation between the width of the thin and thick strokes of each character.</p>
      </div>
    </div>    
  </section>
</div>

      

<div class="container">
  <section>
    <h2>Example font: Adobe Garamond Pro</h2>

    <div class="garamond typeface-characters">      
      <p class="garamond capitalize">a b c d e f g h i j k l m n o p q r s t u v w x y z </p>
      <p class="garamond">a b c d e f g h i j k l m n o p q r s t u v w x y z </p>
      <p class="garamond">1 2 3 4 5 6 7 8 9 </p>
    </div>

    <div class="row">
      <div class="column">
        <figure>
          <div class="typeface-example garamond">Bb
          </div>
        </figure>
      </div>

      <div class="column">      
        <h3>Cap-height</h3>
        <p>The cap height refers to the height of a capital letter above the baseline for a particular typeface.</p>

        <h3>X-Height</h3>
        <p>The X-Height is the height of the main body of the lowercase letter (or the height of a lowercase x), excluding its ascenders and descenders. Adobe Garamond Pro has a regular X-Height.</p>

        <h3>Base-line</h3>
        <p>The baseline is an invisible line of alignment on which all of the letters sit. Because it is the most stable axis along a line of text it is a great tool for aligning text with images or other text.</p>
      </div>
    </div>    
  </section>
</div>



<div class="container">
  <section>
    <h2>Font pairing</h2>
    <h3>Finding the perfect match for Adobe Garamond Pro...</h3>
    <p>Let’s be honest, when you’re going to be spending a lot of time with someone you want to make sure that your personalities compliment each other well. The same goes for the type in your projects - they are going to be spending a lot of time together and it’d be ideal for them to hit it off. Let’s pretend that choosing a typefaces pair is like trying to set up a friend with someone that’ll have them at “hello”.
    </p> 
  </section>


  <section>
    <h2>The Perfect Match: Nimbus</h2>
    <div class="nimbus typeface-characters">      
      <p class="nimbus capitalize">a b c d e f g h i j k l m n o p q r s t u v w x y z </p>
      <p class="nimbus">a b c d e f g h i j k l m n o p q r s t u v w x y z </p>
      <p class="nimbus">1 2 3 4 5 6 7 8 9 </p>
    </div>  
  </section>
</div>      


<div class="container">
  <section>
    <div class="row">
      <div class="column">
        <figure>
          <div class="typeface-example nimbus">Bb
          </div> 
        </figure>
      </div>
      <div class="column">      
        <h3>Why is she the perfect match?</h3>
        <p>Another great sans serif and serif typeface match made in heaven. This pair offers each other a complimentary contrast as well as uniting characteristics such as similar weights and widths. Another great match for Garamond would he Helvetica because of their similar X-Heights.
</p>
      </div>
    </div>  
  </section>
</div>
