<!DOCTYPE html>
<html>
  <head>
    <title>Projects | Typography</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="/stylesheets/normalize.css" rel="stylesheet"/>
    <link href="stylesheets/main.css" rel="stylesheet"/>
    <script src="//use.typekit.net/jol8wql.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  
  <body>
    <div id="hero">
      <div class="container">
        <h1>A short lesson on Typography</h1>
        <h2>What is typography?</h2>
          <p>Here is a bunch of text talking about what Typography is</p>

        <h2>Why is it important?</h2>
          <p>There are many reason Typography is so important and this is the parahraph that tells you why.
          </p>  
      </div>



    </div>
  </body>
</html>o  













