---
layout: projects
---


<!DOCTYPE html>
<html>
  <head>
    <title>Projects | Typography</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="/stylesheets/normalize.css" rel="stylesheet"/>
    <link href="stylesheets/main.css" rel="stylesheet"/>
    <script src="//use.typekit.net/dlt5kod.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  
  <body>
    <header id="hero">
      <div class="container">
        <h1>A short lesson on <div class="capitalize">Typography:</div></h1>
      </div>  
    </header>

    <section class="grey-background">    
      <div class="container">    
        <div class="row">
          <div class="column"> 
              <h2>What is typography?</h2>
              <p>Typography is one of designs greatest assets. It is the art and technique of choosing and arranging type in order to communicate the intended mood and message to its viewers.</p> 
          </div>    
        
            <div class="column">    
              <h2>Why is it important?</h2>
                <p>Above all typography is a means of communication. Poor typography can unintentionally convey the wrong message, mood or even cause stress to its viewer because it is unreadable.</p>
            </div>  
          </div>
        </div>
      </div> 
    </section>      
    

    <div class="container">
      <nav class="top-nav">
        <ul>
          <li><a href="/projects/typography/humanist.html">Humanist</a></li>
          <li class="separator"></li>
          <li><a href="/projects/typography/transitional.html">Transitional</a></li>
          <li class="separator"></li>
          <li><a href="/projects/typography/modern.html">Modern</a></li>
          <li class="separator"></li>
          <li><a href="/projects/typography/egyptian.html">Slab Serif</a></li>
          <li class="separator"></li>
          <li><a href="/projects/typography/humanist_sans_serif.html">Humanist Sans</a></li>
          <li class="separator"></li>
          <li><a href="/projects/typography/transitional_sans_serif.html">Transitional Sans</a></li>
          <li class="separator"></li>
          <li><a href="/projects/typography/geometric.html">Geometric Sans</a></li>
        </ul>
      </nav>
    </div> 

    <div class="container">
      <h1>Type Classification</h1>
        <p>During the 19th century, printers sought out a way to classify and organize their typefaces. Together they were able to separate the typefaces into three different groups - Humanist, Transitional, and Modern. Amazingly, these classifications are still used today by designers working with typography and creating new typefaces. In Ellen Lupton’s “Thinking With Type” she describes 7 basic type classifications:</p>
    </div>
   

    <div class="container">
      <h2>Serif Fonts</h2>

      <p>A serif is a small decorative line attached to the end of a letter or symbol. Serif fonts are fonts that include this line.</p>

    
      <section class="grid">
        <ul>
          <li>
            <div class="example garamond">Aa</div>
            <div class="name"><a href="/projects/typography/humanist.html">Humanist</a></div>
          </li>
          <li>
            <div class="example bookman">Aa</div>
            <div class="name"><a href="/projects/typography/transitional.html">Transitional</a></div>
          </li>
          <li>
            <div class="example bodoni">Aa</div>
            <div class="name"><a href="/projects/typography/modern.html">Modern</a></div>
          </li>
          <li>
            <div class="example clarendon">Aa</div>
            <div class="name"><a href="/projects/typography/egyptian.html">Slab Serif</a></div>
          </li>
             
        </ul>
      </section>

      <h2>Sans Serif Fonts</h2>
      <p>The word sans originates from the Middle English saun, sans, from Anglo-French san, sanz, and is a modification of the Latin word sine which means “without”. Therefore, sans serif fonts classify fonts that do not have serifs.</p>

      <section class="grid">
        <ul>
          <li>
            <div class="example open-sans">Aa</div>
            <div class="name"><a href="/projects/typography/humanist_sans_serif.html">Humanist Sans</a></div>
          </li>
          <li>
            <div class="example nimbus">Aa</div>
            <div class="name"><a href="/projects/typography/transitional_sans_serif.html">Transitional Sans</a></div>
          </li>
          <li>
            <div class="example futura">Aa</div>
            <div class="name"><a href="/projects/typography/geometric.html">Geometric Sans</a></div>
          </li>    
        </ul>
      </section>
    </div>

  </body>
</html>  



