/* line 1, ../projects/typography/stylesheets/main.css.scss */
* {
  box-sizing: border-box; }

/* line 6, ../projects/typography/stylesheets/main.css.scss */
.clearfix:after, .row:after, nav.top-nav ul:after, .grid ul:after, .container:after {
  content: "";
  display: table;
  clear: both; }

/* line 13, ../projects/typography/stylesheets/main.css.scss */
.row {
  position: relative;
  margin: 0 -25px; }

/* line 21, ../projects/typography/stylesheets/main.css.scss */
.column {
  padding: 0 25px; }
  @media (min-width: 600px) {
    /* line 21, ../projects/typography/stylesheets/main.css.scss */
    .column {
      width: 50%;
      float: left; } }

/* line 30, ../projects/typography/stylesheets/main.css.scss */
.container {
  max-width: 1000px;
  padding: 0 25px;
  margin: 0 auto; }

/* line 39, ../projects/typography/stylesheets/main.css.scss */
body h1, body h2, body h3 {
  color: #4D5958;
  font-family: "nimbus-sans",sans-serif;
  font-style: normal; }
/* line 45, ../projects/typography/stylesheets/main.css.scss */
body h1 {
  padding: 0;
  margin: 0;
  font-size: 3em;
  font-weight: 400; }
  @media (min-width: 680px) {
    /* line 45, ../projects/typography/stylesheets/main.css.scss */
    body h1 {
      font-size: 4em; } }
  @media (min-width: 985px) {
    /* line 45, ../projects/typography/stylesheets/main.css.scss */
    body h1 {
      font-size: 6em; } }
/* line 60, ../projects/typography/stylesheets/main.css.scss */
body h2 {
  font-size: 3em;
  font-weight: 400; }
/* line 65, ../projects/typography/stylesheets/main.css.scss */
body h3 {
  font-size: 1.5em;
  font-weight: 400; }
/* line 71, ../projects/typography/stylesheets/main.css.scss */
body p {
  color: #4D5958;
  font-family: "garamond-premier-pro",serif;
  font-size: 1.3em; }
/* line 77, ../projects/typography/stylesheets/main.css.scss */
body a {
  color: #3F3F3F;
  text-decoration: none; }
  /* line 82, ../projects/typography/stylesheets/main.css.scss */
  body a:visited {
    color: #3F3F3F; }
  /* line 87, ../projects/typography/stylesheets/main.css.scss */
  body a:hover {
    color: #D9A05B; }
  /* line 92, ../projects/typography/stylesheets/main.css.scss */
  body a:focus {
    outline: 0; }
/* line 98, ../projects/typography/stylesheets/main.css.scss */
body ul {
  padding: 0; }

/* line 103, ../projects/typography/stylesheets/main.css.scss */
section {
  margin-bottom: 100px; }

/* line 108, ../projects/typography/stylesheets/main.css.scss */
#hero {
  background-color: #3B3C40;
  background-size: cover;
  padding: 100px 0;
  position: relative;
  width: 100%; }
  /* line 115, ../projects/typography/stylesheets/main.css.scss */
  #hero h1 {
    font-size: 2em;
    color: white;
    padding: 0;
    margin: 0;
    font-family: "nimbus-sans",sans-serif;
    font-style: normal;
    font-size: 2.5em;
    font-weight: 400; }
    @media (min-width: 540px) {
      /* line 115, ../projects/typography/stylesheets/main.css.scss */
      #hero h1 {
        font-size: 4em; } }
    @media (min-width: 900px) {
      /* line 115, ../projects/typography/stylesheets/main.css.scss */
      #hero h1 {
        font-size: 7em; } }

/* line 136, ../projects/typography/stylesheets/main.css.scss */
nav.top-nav {
  text-align: center;
  margin-bottom: 50px; }
  /* line 140, ../projects/typography/stylesheets/main.css.scss */
  nav.top-nav ul {
    margin: 0; }
    /* line 144, ../projects/typography/stylesheets/main.css.scss */
    nav.top-nav ul li {
      display: inline-block;
      list-style: none;
      position: relative; }
    /* line 150, ../projects/typography/stylesheets/main.css.scss */
    nav.top-nav ul li.separator {
      height: 16px;
      width: 1px;
      background: #aaa;
      position: relative;
      top: 3px; }
  /* line 159, ../projects/typography/stylesheets/main.css.scss */
  nav.top-nav a {
    padding: 0 10px;
    display: block;
    line-height: 40px; }

/* line 171, ../projects/typography/stylesheets/main.css.scss */
.grid ul li {
  float: left;
  list-style: none;
  padding: 10px;
  width: 50%; }
  @media (min-width: 800px) {
    /* line 171, ../projects/typography/stylesheets/main.css.scss */
    .grid ul li {
      width: 25%; } }
  /* line 181, ../projects/typography/stylesheets/main.css.scss */
  .grid ul li .example {
    border: 5px solid #BF7B54;
    font-size: 6em;
    text-align: center;
    height: 160px;
    line-height: 150px; }
  /* line 189, ../projects/typography/stylesheets/main.css.scss */
  .grid ul li .name {
    text-align: center;
    margin-top: 15px; }

/* line 198, ../projects/typography/stylesheets/main.css.scss */
.typeface-example {
  border: 5px solid #BF7B54;
  display: inline-block;
  font-size: 10em;
  max-width: 100%;
  margin: 10px auto;
  padding: 40px;
  text-align: center;
  width: 100%; }

/* line 209, ../projects/typography/stylesheets/main.css.scss */
.typeface-characters {
  background: #eee;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 50px;
  width: 100%;
  padding: 5px; }

/* line 219, ../projects/typography/stylesheets/main.css.scss */
.grey-background {
  background-color: #eee;
  background-size: cover;
  padding: 100px 0;
  position: relative;
  width: 100%; }

/* line 227, ../projects/typography/stylesheets/main.css.scss */
.right {
  float: right; }

/* line 231, ../projects/typography/stylesheets/main.css.scss */
.left {
  float: left; }

/* line 235, ../projects/typography/stylesheets/main.css.scss */
.capitalize {
  text-transform: uppercase; }

/* line 239, ../projects/typography/stylesheets/main.css.scss */
.garamond {
  font-family: "garamond-premier-pro",serif; }

/* line 243, ../projects/typography/stylesheets/main.css.scss */
.bookman {
  font-family: "bookman",sans-serif; }

/* line 247, ../projects/typography/stylesheets/main.css.scss */
.bodoni {
  font-family: "ltc-bodoni-175",serif; }

/* line 251, ../projects/typography/stylesheets/main.css.scss */
.clarendon {
  font-family: "clarendon-text-pro",sans-serif; }

/* line 255, ../projects/typography/stylesheets/main.css.scss */
.open-sans {
  font-family: "open-sans",sans-serif; }

/* line 259, ../projects/typography/stylesheets/main.css.scss */
.nimbus {
  font-family: "nimbus-sans",sans-serif; }

/* line 263, ../projects/typography/stylesheets/main.css.scss */
.futura {
  font-family: "futura-pt",sans-serif; }

/* line 267, ../projects/typography/stylesheets/main.css.scss */
.maiola {
  font-family: "maiola",serif; }

/* line 271, ../projects/typography/stylesheets/main.css.scss */
.ratio-modern {
  font-family: "ratiomodern"; }

/* line 275, ../projects/typography/stylesheets/main.css.scss */
.adriane {
  font-family: "adriane",serif; }
