/* line 1, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/partials/_nav.scss */
nav {
  background-color: #e65848;
  height: 45px;
  width: 100%; }
  /* line 6, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/partials/_nav.scss */
  nav ul {
    display: inline-block;
    margin-bottom: em(10); }
  /* line 11, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/partials/_nav.scss */
  nav li {
    display: block;
    float: left;
    padding: 0; }
  /* line 17, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/partials/_nav.scss */
  nav a {
    display: block;
    line-height: 45px; }

/* line 23, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/partials/_nav.scss */
.logo {
  color: white;
  font-size: 1.4em;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 17px; }

/* line 32, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/partials/_nav.scss */
.nav-links {
  color: white;
  font-size: 1em;
  font-weight: 500;
  padding: 0 1em;
  text-decoration: none; }

/* line 1, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_responsive.scss */
.hide-for-small-only {
  display: none; }
  @media (min-width: 640px) {
    /* line 1, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_responsive.scss */
    .hide-for-small-only {
      display: block; } }

@media (min-width: 1024px) {
  /* line 9, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_responsive.scss */
  .hide-for-large-only {
    display: none; } }

@media (min-width: 640px) {
  /* line 15, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_responsive.scss */
  .show-for-small-only {
    display: none; } }

/* line 21, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_responsive.scss */
.show-for-large-up {
  display: none; }
  @media (min-width: 1024px) {
    /* line 21, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_responsive.scss */
    .show-for-large-up {
      display: block; } }

/* line 10, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
* {
  box-sizing: border-box; }

/* line 14, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 1.5em; }

/* line 3, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
.row:after {
  content: "";
  display: table;
  clear: both; }
/* line 22, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
.row:not(.collapse) {
  margin-left: -1.5em;
  margin-right: -1.5em; }

/* line 28, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
.column {
  float: left;
  padding: 0 1.5em;
  position: relative;
  width: 100%; }
  /* line 35, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
  .column.end {
    float: right; }

/* line 41, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
.row.collapse .column {
  padding: 0; }

/* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
.column.small-1 {
  width: 8.33333%; }
/* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
.column.small-2 {
  width: 16.66667%; }
/* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
.column.small-3 {
  width: 25%; }
/* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
.column.small-4 {
  width: 33.33333%; }
/* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
.column.small-5 {
  width: 41.66667%; }
/* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
.column.small-6 {
  width: 50%; }
/* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
.column.small-7 {
  width: 58.33333%; }
/* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
.column.small-8 {
  width: 66.66667%; }
/* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
.column.small-9 {
  width: 75%; }
/* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
.column.small-10 {
  width: 83.33333%; }
/* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
.column.small-11 {
  width: 91.66667%; }
/* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
.column.small-12 {
  width: 100%; }

@media (min-width: 640px) {
  /* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
  .column.medium-1 {
    width: 8.33333%; }
  /* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
  .column.medium-2 {
    width: 16.66667%; }
  /* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
  .column.medium-3 {
    width: 25%; }
  /* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
  .column.medium-4 {
    width: 33.33333%; }
  /* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
  .column.medium-5 {
    width: 41.66667%; }
  /* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
  .column.medium-6 {
    width: 50%; }
  /* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
  .column.medium-7 {
    width: 58.33333%; }
  /* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
  .column.medium-8 {
    width: 66.66667%; }
  /* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
  .column.medium-9 {
    width: 75%; }
  /* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
  .column.medium-10 {
    width: 83.33333%; }
  /* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
  .column.medium-11 {
    width: 91.66667%; }
  /* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
  .column.medium-12 {
    width: 100%; } }
@media (min-width: 1024px) {
  /* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
  .column.large-1 {
    width: 8.33333%; }
  /* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
  .column.large-2 {
    width: 16.66667%; }
  /* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
  .column.large-3 {
    width: 25%; }
  /* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
  .column.large-4 {
    width: 33.33333%; }
  /* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
  .column.large-5 {
    width: 41.66667%; }
  /* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
  .column.large-6 {
    width: 50%; }
  /* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
  .column.large-7 {
    width: 58.33333%; }
  /* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
  .column.large-8 {
    width: 66.66667%; }
  /* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
  .column.large-9 {
    width: 75%; }
  /* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
  .column.large-10 {
    width: 83.33333%; }
  /* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
  .column.large-11 {
    width: 91.66667%; }
  /* line 49, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_grid.scss */
  .column.large-12 {
    width: 100%; } }
/* line 1, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_blog.scss */
.article {
  font-size: 20px; }
  /* line 4, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_blog.scss */
  .article h3.article-title {
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 10px;
    text-transform: uppercase; }
    /* line 10, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_blog.scss */
    .article h3.article-title, .article h3.article-title a, .article h3.article-title a:visited {
      color: #4e6d82; }
    /* line 13, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_blog.scss */
    .article h3.article-title a:hover {
      color: #446072; }

/* line 21, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_blog.scss */
.article-body h2, .article-body h3, .article-body h4 {
  margin-top: 50px;
  font-weight: normal; }
/* line 26, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_blog.scss */
.article-body h2 {
  font-size: 1.3em; }
/* line 30, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_blog.scss */
.article-body h3 {
  font-size: 1.2em; }
/* line 34, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_blog.scss */
.article-body h4 {
  font-size: 1.1em;
  margin-bottom: 10px; }
/* line 39, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_blog.scss */
.article-body img {
  max-width: 100%;
  margin: 5px; }
/* line 44, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_blog.scss */
.article-body code {
  color: #0d115a;
  font-size: 0.75em;
  background: #eee;
  padding: 4px; }
/* line 51, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_blog.scss */
.article-body pre {
  background: #eee;
  padding: 10px;
  white-space: pre;
  word-wrap: normal;
  overflow: auto; }

/* line 61, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_blog.scss */
.date {
  font-size: 0.75em; }

/* line 65, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_blog.scss */
.teal-link {
  color: #45b29d;
  font-size: 1em;
  text-decoration: none;
  padding-bottom: 50px; }
  /* line 71, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_blog.scss */
  .teal-link, .teal-link a, .teal-link a:visited {
    color: #45b29d; }
  /* line 74, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_blog.scss */
  .teal-link a:hover {
    color: #3ea08d; }

/* line 79, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_blog.scss */
.read-more {
  color: #45b29d;
  font-size: 1em;
  text-decoration: none;
  padding-top: 50px;
  padding-bottom: 100px; }
  /* line 86, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_blog.scss */
  .read-more, .read-more a, .read-more a:visited {
    color: #45b29d; }
  /* line 89, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_blog.scss */
  .read-more a:hover {
    color: #3ea08d; }

/* line 1, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_projects.scss */
* {
  box-sizing: border-box; }

/* line 6, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_projects.scss */
.clearfix:after, .container:after {
  content: "";
  display: table;
  clear: both; }

/* line 13, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_projects.scss */
img.project-border {
  max-width: 100%;
  position: center;
  border: 5px solid rgba(150, 150, 150, 0.2);
  margin-bottom: 100px; }

/* line 20, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_projects.scss */
h3.project-title a {
  color: #4e6d82;
  font-size: 1.5em;
  font-weight: normal;
  margin-bottom: 10px;
  text-transform: uppercase; }

/* line 28, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/_projects.scss */
p.project-description {
  font-size: 1.1em; }

/* line 10, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/all.css.scss */
.hero {
  background-size: cover;
  margin-top: -10px;
  width: 100%;
  z-index: -1; }
  /* line 16, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/all.css.scss */
  .hero img {
    display: block;
    width: 100%; }

/* line 22, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/all.css.scss */
body {
  background: white;
  color: #4b4b4b; }

/* line 27, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/all.css.scss */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* line 33, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/all.css.scss */
a {
  color: #45b29d;
  text-decoration: none; }

/* line 38, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/all.css.scss */
p {
  font-family: "lato",sans-serif;
  line-height: 1.5em;
  font-size: .85em; }

/* line 44, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/all.css.scss */
.content-container {
  padding: 50px 10px; }

/* line 48, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/all.css.scss */
.mobile-bio {
  color: #4e6d82;
  font-family: "lato",sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
  margin-top: 30px;
  text-align: left; }

/* line 57, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/all.css.scss */
.blog-divider {
  background: #e8e8e8;
  display: block;
  height: 1px;
  margin: 1.25em 0 0 0;
  width: 100%; }

/* line 65, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/all.css.scss */
.placeholder {
  padding-left: 50px; }

/* line 69, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/all.css.scss */
.circle-text {
  width: 400px;
  position: absolute;
  top: 30%;
  left: 15%; }

/* line 76, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/all.css.scss */
.circle-text:after {
  content: "";
  background-color: rgba(51, 77, 92, 0.9);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%; }

/* line 87, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/all.css.scss */
.circle-text div {
  color: white;
  font-family: "lato",sans-serif;
  font-size: 1.4em;
  float: left;
  width: 90%;
  padding-top: 30%;
  padding-left: 10%;
  line-height: 1.5em;
  margin-top: -0.5em;
  text-align: left; }
  /* line 99, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/all.css.scss */
  .circle-text div a {
    color: #45b29d;
    text-decoration: none; }

/* line 105, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/all.css.scss */
.quote-color {
  color: #969696; }

/* line 109, /Users/EricaGarcia/projects/MyBlog/source/stylesheets/all.css.scss */
.right {
  float: right; }
