---
layout: projects
section: work
---

<section class="fade-in hero__image covid19">
  <div class="content-container">
    <div class="column large-6">
      <h1 class="hero__title hero__title--transparent">How might we help loved ones stay connected during Covid-19?</h1>
    </div>
  </div>
</section>

<div class="content-container">
  <section class="section center">
    <h2 class="section__title">The history</h1>

    <p class="section__header center">After returning from the trip of a lifetime, Joe and I were excited to move home to Michigan to spend more time with family. We soon found our time with family and friends would be through screens, as the Covid-19 pandemic raced its way around the world. We built <a href="https://gamenight.lol/" target="_blank">Gamenight.lol</a> to make our friends and family laugh.
   </p>

   <div class="section center">
      <a class="submit-button" href="https://gamenight.lol/" target="_blank">Make your loved ones laugh too <i class="fas fa-external-link-alt fa-md"></i></a>
    </div>

  </section>

</div>

<%= partial "projects/footer", locals: {projects: ["buildout", "careerpage"]} %>