/* line 2, ../projects/architecture/stylesheets/base/_base.scss */
* {
  box-sizing: border-box; }

/* line 8, ../projects/architecture/stylesheets/base/_base.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* line 16, ../projects/architecture/stylesheets/base/_base.scss */
ul {
  list-style: none; }

/* line 20, ../projects/architecture/stylesheets/base/_base.scss */
.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 -15px; }

/* line 26, ../projects/architecture/stylesheets/base/_base.scss */
.row {
  margin-left: -15px;
  margin-right: -15px; }

/* line 32, ../projects/architecture/stylesheets/base/_base.scss */
.column {
  float: left;
  padding: 0 -15px;
  position: relative;
  width: 100%; }
  /* line 39, ../projects/architecture/stylesheets/base/_base.scss */
  .column.end {
    float: right; }

/* line 1, ../projects/architecture/stylesheets/base/_colors.scss */
.navy {
  background-color: #23292c;
  padding: 100px; }

/* line 6, ../projects/architecture/stylesheets/base/_colors.scss */
.tan {
  background-color: #eae5d6; }

/*! normalize.css v2.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 8/9.
 */
/* line 11, ../projects/architecture/stylesheets/base/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */
/* line 29, ../projects/architecture/stylesheets/base/_normalize.scss */
audio,
canvas,
video {
  display: inline-block; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 40, ../projects/architecture/stylesheets/base/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */
/* line 49, ../projects/architecture/stylesheets/base/_normalize.scss */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 63, ../projects/architecture/stylesheets/base/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Removes default margin.
 */
/* line 73, ../projects/architecture/stylesheets/base/_normalize.scss */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
/* line 85, ../projects/architecture/stylesheets/base/_normalize.scss */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
/* line 93, ../projects/architecture/stylesheets/base/_normalize.scss */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */
/* line 107, ../projects/architecture/stylesheets/base/_normalize.scss */
h1 {
  font-size: 2em; }

/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 115, ../projects/architecture/stylesheets/base/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 123, ../projects/architecture/stylesheets/base/_normalize.scss */
b,
strong {
  font-weight: bold; }

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
/* line 132, ../projects/architecture/stylesheets/base/_normalize.scss */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE 8/9.
 */
/* line 140, ../projects/architecture/stylesheets/base/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */
/* line 150, ../projects/architecture/stylesheets/base/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
/* line 162, ../projects/architecture/stylesheets/base/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Sets consistent quote types.
 */
/* line 172, ../projects/architecture/stylesheets/base/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
/* line 180, ../projects/architecture/stylesheets/base/_normalize.scss */
small {
  font-size: 80%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 188, ../projects/architecture/stylesheets/base/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 196, ../projects/architecture/stylesheets/base/_normalize.scss */
sup {
  top: -0.5em; }

/* line 200, ../projects/architecture/stylesheets/base/_normalize.scss */
sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Removes border when inside `a` element in IE 8/9.
 */
/* line 212, ../projects/architecture/stylesheets/base/_normalize.scss */
img {
  border: 0; }

/*
 * Corrects overflow displayed oddly in IE 9.
 */
/* line 220, ../projects/architecture/stylesheets/base/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */
/* line 232, ../projects/architecture/stylesheets/base/_normalize.scss */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
/* line 244, ../projects/architecture/stylesheets/base/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 255, ../projects/architecture/stylesheets/base/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */
/* line 266, ../projects/architecture/stylesheets/base/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 280, ../projects/architecture/stylesheets/base/_normalize.scss */
button,
input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 293, ../projects/architecture/stylesheets/base/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements.
 */
/* line 305, ../projects/architecture/stylesheets/base/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */
/* line 315, ../projects/architecture/stylesheets/base/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 327, ../projects/architecture/stylesheets/base/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 339, ../projects/architecture/stylesheets/base/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in Firefox 4+.
 */
/* line 348, ../projects/architecture/stylesheets/base/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */
/* line 359, ../projects/architecture/stylesheets/base/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
/* line 372, ../projects/architecture/stylesheets/base/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 1, ../projects/architecture/stylesheets/layout/_footer.scss */
footer {
  color: #73848e; }

/* line 6, ../projects/architecture/stylesheets/layout/_footer.scss */
.copyright p {
  text-align: center; }

/* line 1, ../projects/architecture/stylesheets/layout/_home.scss */
* {
  box-sizing: border-box; }

/* line 5, ../projects/architecture/stylesheets/layout/_home.scss */
.hero {
  width: 100%;
  height: 1000px;
  opacity: 1;
  visibility: inherit;
  background-image: url("../images/hero-5d0d3662.jpg");
  background-color: transparent;
  background-size: cover;
  background-position: 0% 0%;
  background-repeat: no-repeat; }
  /* line 16, ../projects/architecture/stylesheets/layout/_home.scss */
  .hero h1 {
    color: white;
    font-size: 5em;
    margin: 0;
    text-align: center;
    padding-top: 100px; }

/* line 26, ../projects/architecture/stylesheets/layout/_home.scss */
.gallery img {
  float: left;
  max-width: 100%;
  width: 20%; }

/* line 34, ../projects/architecture/stylesheets/layout/_home.scss */
.section-title {
  text-align: center;
  font-size: 60px;
  line-height: 1.5em;
  margin-bottom: 23px; }

/* line 41, ../projects/architecture/stylesheets/layout/_home.scss */
.team {
  background: #eae5d6;
  position: relative;
  overflow: hidden;
  padding-bottom: 0; }

/* line 48, ../projects/architecture/stylesheets/layout/_home.scss */
.team__description {
  float: left;
  width: 50%; }

/* line 53, ../projects/architecture/stylesheets/layout/_home.scss */
.bio-snippet {
  max-width: 100%;
  text-align: center; }

/* line 59, ../projects/architecture/stylesheets/layout/_home.scss */
.logo {
  float: none;
  transition: opacity 0.5s; }
  /* line 63, ../projects/architecture/stylesheets/layout/_home.scss */
  .logo:hover {
    opacity: 0.6; }
  @media (max-width: 601px) {
    /* line 59, ../projects/architecture/stylesheets/layout/_home.scss */
    .logo {
      float: none; } }

/* line 72, ../projects/architecture/stylesheets/layout/_home.scss */
.contact-form-container {
  background: white;
  padding: 17px 30px 40px;
  margin: 0 auto;
  position: relative;
  width: 500px;
  z-index: 10; }

/* line 81, ../projects/architecture/stylesheets/layout/_home.scss */
.contact-form input,
.contact-form select,
.contact-form textarea {
  border: 1px solid #c6c9cc;
  color: #888;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px; }

/* line 90, ../projects/architecture/stylesheets/layout/_home.scss */
.contact-form input,
.contact-form textarea {
  width: 100%; }

/* line 94, ../projects/architecture/stylesheets/layout/_home.scss */
.contact-form select {
  height: 34px;
  width: 60px; }

/* line 98, ../projects/architecture/stylesheets/layout/_home.scss */
.contact-form textarea {
  height: 78px; }

/* line 102, ../projects/architecture/stylesheets/layout/_home.scss */
.white-font {
  color: white; }

/* line 106, ../projects/architecture/stylesheets/layout/_home.scss */
.services {
  text-align: center; }

/* line 109, ../projects/architecture/stylesheets/layout/_home.scss */
.about-photo {
  float: right;
  width: 50%; }

/* line 1, ../projects/architecture/stylesheets/layout/_nav.scss */
nav {
  color: white; }

/* line 1, ../projects/architecture/stylesheets/modules/_btn.scss */
.btn-default {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid #4e5457;
  background: white;
  padding: 20px 40px;
  margin-top: 30px;
  width: auto; }
  /* line 11, ../projects/architecture/stylesheets/modules/_btn.scss */
  .btn-default:hover {
    background: #1A1F2B;
    color: white; }

/* line 1, ../projects/architecture/stylesheets/tools/_helpers.scss */
.right {
  float: right; }

/* line 5, ../projects/architecture/stylesheets/tools/_helpers.scss */
.left {
  float: left; }
