---
layout: layout
section: work
---

<%= partial "partials/nav" %>

<section class="hero__image homes">
  <div class="content-container">
    <div class="column large-6">
      <h1 class="hero__title hero__title--transparent">How might we change the real estate investment space?</h1>
    </div>
  </div>
</section>

<div class="content-container">
  <section class="section center">
    <h2 class="section__title">About FundWise</h1>

    <p class="section__header center">FundWise is a platform that uses crowdfunding by accredited investors to fund real estate loans.
   </p>
  </section>

  <section class="row section">
    <div class="column large-6">
      <h2 class="section__title"><span class="section__number">01.</span> Home Page Features</h1>
      <ul>
        <li class="card__list card__list--light-grey">
        Clear call to actions for investors and loan seekers
        </li>
        <li class="card__list card__list--light-grey">Builds trust with visitors as they can see platform activity such as nearly funded properties, popular properties, and stories from real people</li>
        <li class="card__list card__list--light-grey">Responsive layout</li>
        <li class="card__list card__list--light-grey">Easy access to more information via the main navigation and footer</li>
      </ul>
    </div>

    <div class="column large-6">
      <img src="/images/portfolio/fundwise/fundwise_homepage.jpg" class="section__image">
    </div>

    <div class="section center">
      <img src="/images/portfolio/fundwise/fundwise_stories.jpg" class="section__image">
    </div>
  </section>

  <section class="row section">
    <div class="column large-6">
      <h2 class="section__title"><span class="section__number">02.</span> Platform Features</h1>
      </h2>
      <ul>
        <li class="card__list card__list--light-grey">
        Easy tracking of loans and investments
        </li>
        <li class="card__list card__list--light-grey">In platform inbox for messaging and organized notifications</li>
        <li class="card__list card__list--light-grey">Highlighted statistics so users can get a quick overview of their investments and loans</li>
      </ul>
    </div>

    <div class="column large-6">
      <img src="/images/portfolio/fundwise/fundwise_landing.jpg" class="section__image">
    </div>
  </section>

</div>

<%= partial "projects/footer", locals: {projects: ["thesocreports", "jellybeans"]} %>