---
layout: projects
section: work
---

<section class="fade-in hero__image homes">
  <div class="content-container">
    <div class="column large-6">
      <h1 class="hero__title hero__title--transparent">How might we change the real estate investment space?</h1>
    </div>
  </div>
</section>

<div class="content-container">
  <section class="section center">
    <h2 class="section__title">About FundWise</h1>

    <p class="section__header center">FundWise is a platform that uses crowdfunding by accredited investors to fund real estate loans.
   </p>
  </section>

  <section class="row section">
    <div class="column large-6">
      <h2 class="section__title"><span class="section__number">01.</span> The Challenge</h1>

      <p>Historically, traditional lenders and banks can be  very slow, inefficient, and biased when it comes to approving loans. Additionally, they were hesitant to invest after the real estate crash in 2008 which left  communities across the country devastated.</p>

      <p>Our client came to us with an idea, basic site, and the data for a real estate crowdfunding platform that would be an inclusive solution that would allow investors to quickly assign risk profiles and reduce the time and cost of traditional loan methods. We had less than 3 months to complete the project.</p>

       <div class="details">My Role: Lead Designer</div>

       <p>As the sole designer, I managed client expectations, researched end users, completed the UI Design for the marketing website and platform, as well as completed the frontend implementation using HTML, CSS and Javascript while making sure the site was mobile responsive and accessible.</p>
    </div>

    <div class="column large-6">
      <img src="/images/portfolio/fundwise/Fundwise_orig_shot.png" class="section__image">
      <figcaption class="figcaption">Shot from the original website that our client brought to us</figcaption>
    </div>
  </section>


  <section class="row section">

    <div class="column large-6">
      <h2 class="section__title"><span class="section__number">02.</span> It's tough to let things go</h1>
      <p>My client had a tough time moving away from their design implementation of the marketing website. I decided to complete a round of user testing with the current site to see what improvements could be made. Here are a few key findings that I presented to my client:</p>
    </div>

    <div class="column large-6">
      <ul>
        <li class="card__list card__list--light-red">
        Potential investors had trouble finding where and how they could sign up
        </li>
        <li class="card__list card__list--light-red">Investors had trouble distinguishing if the website was legitimate or a scam</li>
        <li class="card__list card__list--light-red">Users wanted to see potential properties without having to sign in</li>
        <li class="card__list card__list--light-red">Even seasoned investors had trouble understanding some of the language being used</li>
      </ul>
    </div>
  </section>

  <section class="row section">
    <div class="column large-6">
      <h2 class="section__title"><span class="section__number">03.</span> Outcomes & Lessons</h1>

      <p>With close collaboration and communication, my team and I were able to meet our deadline in time for our client to have it to showcase with investors at his conference.</p>

      <p>The redesign of the marketing website was able to build trust with visitors as they were able to see platform activity such as nearly funded properties, popular properties, and stories from real people. Additionally, once they were ready to commit, there were clear call to actions for investors and loan seekers.</p>
    </div>

    <div class="column large-6">
      <img src="/images/portfolio/fundwise/fundwise_stories.jpg" class="section__image">
      <figcaption class="figcaption">Article section from the new marketing website</figcaption>
    </div>

  </section>


  <section class="row section">
    <div class="column large-6">
      <img src="/images/portfolio/fundwise/fundwise_homepage.jpg" class="section__image">
    </div>

    <div class="column large-6">
      <img src="/images/portfolio/fundwise/fundwise_landing.jpg" class="section__image">
    </div>
  </section>

</div>

<%= partial "projects/footer", locals: {projects: ["thesocreports", "buildout"]} %>