@import "variables";


body {
  font-family: 'Open Sans', sans-serif;
  color: #7d7d7d;
  background: #fdfdfd;
}

p {
  font-size: 1em;
  line-height: 1.7em;
}

p.message {
  font-size: 3em;
  line-height: 50px;
  color: #C1CE96;
  margin-top: 100px;
  margin-left: 15px;
}

span.intro {
  font-size: 2em;
  color: black;
  font-family: cursive;
}

h2, h3 {
  margin: 2em 0 1em 0;
  color: #353129;
}


.title {
  position: absolute;
  color: white;
  margin-top: -250px;
  z-index: 1;
  font-size: 3em;

  @media (min-width: $large_width) {
    font-size: 4em;

  }

}

.header {
  background-color: rgb(72, 74, 71);
  background-image: url("../images/forest.png");
  background-size: cover;
  height: 500px;
  width: 100%;
  margin-bottom: 50px;
}

.divider {
  background: #e8e8e8;
  display: block;
  height: 3px;
  margin: 1.25em 0 0 0;
  width: 100%;
}  

.fox {
  background-image: url("../images/grey_fox_shadow.png");
  background-repeat: no-repeat;
  position: fixed;
  top: 15px;
  left: 15px;
  width: 200px;
  height: 200px;
  z-index: 999;
}

.red-fox {
  background-image: url("../images/red_fox.png");
  background-repeat: no-repeat;
  position: relative;
  width: 300px;
  height: 300px;
}


.blue-fox {
  background-image: url("../images/blue_fox.png");
  background-repeat: no-repeat;
  position: relative;
  width: 200px;
  height: 170px;
}

.static {
  position: static;
}

.relative {
  position: relative;
  left: 200px;
}

.relative2  {
  position: relative;
  left: 20px;
}

.absolute {
  position: absolute;
  top: 100px;
  left: 120px;
}

.z-index {
  z-index: -1;
}

.box {
  width: 100%;
  height: 320px;
  border: 4px dotted #687D77;
  margin-top: 30px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.footer {
  background-color: rgb(53, 49, 41);
  width:100%;
  height:80px;
  display: block;
  bottom:0;
  left:0;
  margin-top: 50px;
}
