/* line 1, ../projects/semantics/stylesheets/main.css.scss */
* {
  box-sizing: border-box; }

/* line 6, ../projects/semantics/stylesheets/main.css.scss */
.clearfix:after, .container:after {
  content: "";
  display: table;
  clear: both; }

/* line 13, ../projects/semantics/stylesheets/main.css.scss */
h1 {
  color: white;
  font-family: "grafolita-script",sans-serif;
  font-size: 5em;
  font-weight: 700;
  margin: 0;
  padding-top: 100px;
  text-align: center; }

/* line 23, ../projects/semantics/stylesheets/main.css.scss */
h2, blockquote {
  color: #3F3F3F;
  font-family: "cantiga",sans-serif;
  font-weight: 300;
  margin: 0; }

/* line 31, ../projects/semantics/stylesheets/main.css.scss */
p, figcaption {
  color: #848484;
  font-family: "bookmania",serif;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.3em; }

/* line 39, ../projects/semantics/stylesheets/main.css.scss */
ul {
  color: #848484;
  font-family: "cantiga",sans-serif;
  font-size: 1.2em;
  list-style: none;
  line-height: 1.5em;
  padding: 0; }

/* line 49, ../projects/semantics/stylesheets/main.css.scss */
a {
  color: #3F3F3F;
  text-decoration: none; }
  /* line 54, ../projects/semantics/stylesheets/main.css.scss */
  a:visited {
    color: #3F3F3F; }
  /* line 58, ../projects/semantics/stylesheets/main.css.scss */
  a:hover {
    color: #FF6A00; }
  /* line 63, ../projects/semantics/stylesheets/main.css.scss */
  a:focus {
    outline: 0; }

/* line 69, ../projects/semantics/stylesheets/main.css.scss */
blockquote {
  font-size: 1.5em;
  text-align: center; }
  @media (min-width: 600px) {
    /* line 69, ../projects/semantics/stylesheets/main.css.scss */
    blockquote {
      font-size: 2.5em; } }

/* line 78, ../projects/semantics/stylesheets/main.css.scss */
cite {
  font-size: .5em;
  display: block;
  margin-top: 10px; }

/* line 84, ../projects/semantics/stylesheets/main.css.scss */
section, aside {
  padding: 40px 0; }

/* line 88, ../projects/semantics/stylesheets/main.css.scss */
figure {
  display: inline-block;
  vertical-align: center;
  padding: 30px 1px; }

/* line 94, ../projects/semantics/stylesheets/main.css.scss */
figcaption {
  text-align: center;
  padding-bottom: 30px; }

/* line 100, ../projects/semantics/stylesheets/main.css.scss */
.row {
  position: relative; }
  /* line 103, ../projects/semantics/stylesheets/main.css.scss */
  .row:after {
    content: "";
    display: table;
    clear: both; }

@media (min-width: 600px) {
  /* line 110, ../projects/semantics/stylesheets/main.css.scss */
  .column {
    width: 50%;
    float: left;
    padding: 0 25px; } }

/* line 119, ../projects/semantics/stylesheets/main.css.scss */
.container {
  max-width: 1000px;
  padding: 0 1em;
  margin: 0 auto; }

/* line 126, ../projects/semantics/stylesheets/main.css.scss */
nav.top-nav {
  float: right; }
  /* line 129, ../projects/semantics/stylesheets/main.css.scss */
  nav.top-nav ul {
    margin: 0; }
    /* line 132, ../projects/semantics/stylesheets/main.css.scss */
    nav.top-nav ul li {
      float: left;
      list-style: none;
      position: relative; }
  /* line 139, ../projects/semantics/stylesheets/main.css.scss */
  nav.top-nav a {
    padding: 0 20px;
    display: block;
    line-height: 60px; }

/* line 147, ../projects/semantics/stylesheets/main.css.scss */
.logo {
  color: #E54C10;
  float: left;
  font-family: "cantiga",sans-serif;
  font-size: 2.5em;
  line-height: 60px; }

/* line 156, ../projects/semantics/stylesheets/main.css.scss */
#hero {
  background-image: url("../images/Design-48c4ddc2.png");
  background-size: cover;
  width: 100%;
  height: 60vh;
  position: relative; }

/* line 164, ../projects/semantics/stylesheets/main.css.scss */
.content-divider {
  background: #e8e8e8;
  display: block;
  height: 1px;
  width: 100%;
  margin: 40px 0; }

/* line 172, ../projects/semantics/stylesheets/main.css.scss */
.blog-heading {
  font-size: 2em;
  font-family: "cantiga",sans-serif;
  padding-bottom: 30px; }

/* line 178, ../projects/semantics/stylesheets/main.css.scss */
.byline {
  font-family: "bookmania",serif;
  font-size: 1em;
  font-weight: 300;
  color: #848484; }

/* line 186, ../projects/semantics/stylesheets/main.css.scss */
footer {
  background: #403F33;
  color: white;
  padding: 40px;
  margin-top: 60px;
  text-align: center; }
  /* line 193, ../projects/semantics/stylesheets/main.css.scss */
  footer p {
    color: white;
    font-size: 1.5em; }
