* {
  box-sizing: border-box;
}

.clearfix, .container {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

h1 {
  color: white;
  font-family: "grafolita-script",sans-serif;
  font-size: 5em;
  font-weight: 700;
  margin: 0;
  padding-top: 100px;
  text-align: center;
}

h2, blockquote {
  color: #3F3F3F;
  font-family: "cantiga",sans-serif;
  font-weight: 300;
}


p {
  color: #848484;
  font-family: "garamond-premier-pro-caption",serif; 
  font-size: 1.2em;
  line-height: 1.3em;
}

ul {
  color: #848484;
  font-family: "cantiga",sans-serif;
  font-size: 1.2em;
  list-style: none;
  line-height: 1.5em;
  padding: 0;
}

blockquote {
  font-size: 1.5em;
  text-align: center;

  @media (min-width: 600px) {
    font-size: 2.5em;
  }
}

cite {
  font-size: .5em;
  display: block;
  margin-top: 10px;
}

section, aside {
  padding: 40px 0;
}

a {
  text-decoration: none;


  &:visited {
    color: #3F3F3F;
  }

 
  &:hover {
    color: #FF6A00;

  }

  &:focus {
    outline: 0;
  }

}



nav.top-nav {
  float: right;

  ul {
    margin: 0;

    li {
      float: left;
      list-style: none;
      position: relative;
    }
  }

  a {
    padding: 0 20px;
    display: block;
    line-height: 60px;
  }  
}

.row {
  position: relative;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.column {

  @media (min-width: 600px) {
    width: 50%;
    float: left;
    padding: 0 25px;
  }    
}

.container {
  max-width: 1000px;
  padding: 0 1em;
  margin: 0 auto;
}

.logo {
  color: #E54C10;
  float: left;
  font-family: "cantiga",sans-serif;
  font-size: 2.5em;
  line-height: 60px;
}  



#hero { 
  background-image: url("../images/Design.png");
  background-size: cover;
  width: 100%;
  height: 600px;
  position: relative;
}

.content-divider {
  background: #e8e8e8;
  display: block;
  height: 1px;
  width: 100%;
}


footer {
  background: #403F33;
  color: white;
  padding: 40px;
  margin-top: 60px;
  text-align: center;

  p {
    color: white;
    font-size: 1.5em;
  }
}


