<div class="content-container" id="projects">
  <h2 class="section__title center">Work Samples</h2>
  <span class="section__divider"></span>

  <section class="row">

    <div class="column large-6">
      <%= project_preview("jellybeans") %>
    </div>

    <div class="column large-6">
      <%= project_preview("thesocreports") %>
    </div>

  </section>

  <section class="row">

    <div class="column large-6">
      <a href="/projects/axus/" target="blank">
        <div class="card">
          <div class="item-image">
            <img src="/images/portfolio/axus/tile-image.jpg" class="card__image"/>
          </div>
          <div class="card-section">
            <p class="card-section__title">Axus: Travel Itinerary Building Software</p>
          </div>
        </div>
      </a>
    </div>

    <div class="column large-6">
      <%= project_preview("careerpage") %>
    </div>

  </section>

  <section class="row">

    <div class="column large-6">
      <%= project_preview("travelsite") %>
    </div>

    <div class="column large-6">
      <a href="/projects/magazine/" target="blank">
        <div class="card">
          <div class="item-image">
            <img src="/images/Magazine.png" class="card__image"/>
          </div>
          <div class="card-section">
            <p class="card-section__title">Magazine Recreation</p>
          </div>
        </div>
      </a>
    </div>

  </section>

</div>
