<div class="content-container" id="projects">
  <h2 class="section__title center">Work Samples</h2>
  <span class="section__divider"></span>

  <section class="row">

    <div class="column large-4">
      <%= project_preview("jellybeans") %>
    </div>

    <div class="column large-4">
      <%= project_preview("thesocreports") %>
    </div>

    <div class="column large-4">
      <%= project_preview("careerpage") %>
    </div>

  </section>

  <section class="row">
    <div class="column large-4">
      <%= project_preview("travelsite") %>
    </div>

    <div class="column large-4">
      <a href="/projects/magazinestudy/">
        <div class="card">
          <div class="item-image">
            <img src="/images/Magazine.png" class="card__image"/>
          </div>
          <div class="card-section">
            <p class="card-section__title">Magazine Recreation</p>
          </div>
        </div>
      </a>
    </div>

  </section>

</div>
