---
section: about
---

<%= partial "partials/nav" %>

<section>

  <div class="content-container">
    <div class="row">
      <div class="column large-8">
        <p class="title">Outside of being a designer I mentor people of all ages and backgrounds at various events in the community, watch and train dogs, love gardening and traveling, and practice yoga and aerial silks.</p>
      </div>
    </div>
    <div class="row">

      <div class="column large-6">

        <p>My passion for creating things came at an early age - drawing, painting, building... you name it. It wasn’t until later when I began my journey as a designer that I truly realized the amount of power in how someone interacts with what you create - How do they feel? What do they see? Will they remember it?</p>

        <p>I’ve worked in various parts of the design industry and learned so much along the way. I started out creating digital signage and collateral for big name hotels such as ACME Chicago, Embassy Suites, and Holiday Inn. I worked in printing apparel where I designed, printed, and packaged hundreds of shirts, shoes, etc. a day for various concerts, events, and even the US army.</p>
      </div>

      <div class="column large-6">
        <p> My love for the tech industry led me to taking a software apprenticeship where I learned how write backend code and became a better designer by learning how to empathize with developers when I design web and mobile applications.</p>

        <p>For the past 3 years, I have worked as a product designer for a software consultancy where I conducted research and interviews, created prototypes and mockups, and implemented my designs with HTML/CSS. Along with working with a variety of clients ranging from small, family-owned startups to Fortune 500 companies, I also had the pleasure of building up our in-house design team.</p>

      </div>
    </div>
</section>

<footer class="content-container footer--dark">
  <section class="section center">
    <h2 class="section__title section__title--light">Want to see more?</h2>

    <p class="section__body margin-top">
    Unfortunately, I'm unable to show most of my client work. However, I'm always willing to chat about the awesome adventures I've had building mobile and web experiences from scratch and in pre-existing systems. </p>

    <div class="margin-top">
      <a href="https://github.com/Sneakingrocky" target="_blank" class="circle__icon">
        <img src="/images/portfolio/github_icon.svg"/>
      </a>
      <a href="https://www.linkedin.com/in/ericagarciadesign" target="_blank" class="circle__icon">
        <img src="/images/portfolio/linkedin_icon.svg"/>
      </a>
      <a href="https://www.instagram.com/sneakingrocky" target="_blank" class="circle__icon">
        <img src="/images/portfolio/instagram_icon.svg"/>
        </a>
      <a href="https://twitter.com/SneakingRocky" target="_blank" class="circle__icon">
        <img src="/images/portfolio/twitter_icon.svg"/>
      </a>
    </div>
  </section>
</footer>