<div class= "hero" style="width: 100%;">
  <div style="width: 100%; background-image: url('TOTB.png'); background-size: auto 100%; background-position: 30% 20%;; background-repeat: no-repeat;">
    <img src="/images/TOTB.png" style="width: 100%;" alt="My Hero" />
  </div>
</div>