<div class= "hero" style="width: 100%;">
  <img src="/images/Desk.png" style="width: 100%;" alt="My Hero" />
</div>
<div class= "position-center show-for-large-up">
  <div class="circle-text"><div>Hey there! My name is Erica. I am currently a design apprentice at <a href="http://8thlight.com/">8th Light</a> in Chicago. I love puppies, music, and the minions from Despicable Me way too much.</div>
</div>

