---
section: work
---

<%= partial "partials/nav" %>

<section>
  <div class="section--textured">
    <div class="content-container">

      <header class="row">
        <div class="column large-6">
          <p class="title">Hello, I'm Erica, a product designer who thrives on creating seamless user experiences and building platforms that are maintainable and scalable.</p>
        </div>

        <div class="column large-6">
          <img src="/images/portfolio/ericaandmav.png"/ class="hero__illustration">
        </div>
      </header>

    </div>
  </div>

  <%= partial "projects" %>
</section>

<%= partial "partials/social-footer" %>
