---
section: work
---

<header>
  <div id="header-design" aria-hidden="true">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <%= partial "partials/nav", locals: {dark: true} %>

  <section>
    <div class="content-container">
      <div class=row>
        <div class="column large-6">
          <h1 class="header__title">
            Hi, I'm Erica.
          </h1>

          <p class="header__body-text">
            I'm a digital designer who loves spending time with users to uncover opportunities, prioritize concepts, and validate design solutions.
          </p>
        </div>

        <div class="column large-6">
          <img src="/images/portfolio/ericaandmav.png"/ class="hero__illustration">
        </div>
      </div>
    </div>
  </section>
</header>


<%= partial "projects" %>

<%= partial "partials/social-footer" %>
