<div class= "hero" style="width: 100%;">
  <%= image_tag("Desk.png", alt: "My Hero") %>
    <div class="circle-text teal-link show-for-large-up">
      <div>
        Hey there! My name is Erica. I am currently a 
        design apprentice at <a href="http://8thlight.com/design-studio">8th Light</a> in Chicago. I love puppies, music, and the minions from Despicable Me way too much.
      </div>
  </div>
</div>



<div class="hide-for-large-only">
  <div class="mobile-bio">
    <div>Hey there! My name is Erica. I am currently a design apprentice at <a href="http://8thlight.com/design-studio">8th Light</a> in Chicago. I love puppies, music, and the minions from Despicable Me way too much.
    </div>
  </div>  
</div>


