<section class="section--textured fl">
  <section class="row large-12 collapse">

    <header class="title">
      <h1>Erica Garcia</h1>
      <p class="subtitle">Designer. Developer. Animal Lover.</p>
    </header>

    <section class="section-buttons">
      <%= link_to "Work", "/projects.html", :class => 'submit-button' %>
      <%= link_to "Blog", "/blog.html", :class => 'submit-button margin-right' %> 
    </section>
  </section>

  <section id="instafeed" class="hide-for-small-only gallery"></section>
</section>
