<%= partial "partials/nav" %>
<div class="content-container">

<section class="row">
  <div class="column large-4">
    <a href="/projects/assessment/" target="_blank">
      <div class="card">
        <div class="item-image">
          <img src="/images/Assessment.png" class="card__image"/>
        </div>
        <div class="card-section">
          <p class="card-section__title">Self Assessment</p>
        </div>
      </div>
    </a>
  </div>

  <div class="column large-4">
    <a href="/projects/typography/" target="_blank">
      <div class="card">
        <div class="item-image">
          <img src="/images/Typography.png" class="card__image"/>
        </div>
        <div class="card-section">
          <p class="card-section__title">Typography</p>
        </div>
      </div>
    </a>
  </div>

  <div class="column large-4">
    <a href="/projects/semantics/" target="_blank">
      <div class="card">
        <div class="item-image">
          <img src="/images/Semantics.png" class="card__image"/>
        </div>
        <div class="card-section">
          <p class="card-section__title">Conference Website</p>
        </div>
      </div>
    </a>
  </div>
</section>



<section class="row">
  <div class="column large-4">
    <a href="https://thawing-lake-3074.herokuapp.com/" target="_blank">
      <div class="card">
        <div class="item-image">
          <img src="/images/Travel_site.png" class="card__image"/>
        </div>
        <div class="card-section">
          <p class="card-section__title">Travel Website</p>
        </div>
      </div>
    </a>
  </div>

  <div class="column large-4">
    <a href="/projects/magazine/" target="_blank">
      <div class="card">
        <div class="item-image">
          <img src="/images/Magazine.png" class="card__image"/>
        </div>
        <div class="card-section">
          <p class="card-section__title">Magazine Recreation</p>
        </div>
      </div>
    </a>
  </div>

  <div class="column large-4">
    <a href="/projects/positioning/" target="_blank">
      <div class="card">
        <div class="item-image">
          <img src="/images/Positioning.png" class="card__image"/>
        </div>
        <div class="card-section">
          <p class="card-section__title">Positioning, Explained</p>
        </div>
      </div>
    </a>
  </div>

</section>