<%= partial "partials/nav" %>
<div class="content-container">


  <div class="container">
    <h3 class="project-title">
      <a href="/projects/assessment/" target="_blank">Self Assessment</a>
    </h3>
     <p class="project-description">Self assessment project</p>
    <a href="/projects/assessment/" target="_blank"><img src="/images/Assessment.png" class="project-border"/></a>
  </div>

  <div class="container">
    <h3 class="project-title">
      <a href="/projects/typography/" target="_blank">Typography</a>
    </h3>
     <p class="project-description">Project exploring Typography</p>
    <a href="/projects/typography/" target="_blank"><img src="/images/Typography.png" class="project-border"/></a>
  </div>



  <div class="container">
    <h3 class="project-title">
      <a href="http://ericagarcia.me/projects/semantics/" target="_blank">Semantic Project</a>
    </h3>
     <p class="project-description">Project exploring and demonstrating my knowledge of HTML Semantics. You can also read my blog post on Semantic Elements <a href="/2015/03/05/HTML5-Semantic-elements/">here</a></p>
    <a href="/projects/semantics/" target="_blank"><img src="/images/Semantics.png" class="project-border"/></a>
  </div>


  <div class="container">
    <h3 class="project-title">
      <a href="/projects/magazine/" target="_blank">Magazine Project</a>
    </h3>
    <p class="project-description">Project demonstrating my knowledge of CSS positioning. You can also read my blog post about my process for this project <a href="/2015/03/02/Magazine-Project/">here</a></p>
    <a href="/projects/magazine/" target="_blank"><img src="/images/Magazine.png" class="project-border"/></a>
  </div>


  <div class="container">
    <h3 class="project-title">
      <a href="/projects/semantics/" target="_blank">Positioning Project</a>
    </h3>
    <p class="project-description">Project exploring the meaning of CSS positioning properties.</p>
    <a href="/projects/positioning/" target="_blank"><img src="/images/Positioning.png" class="project-border"/></a>
  </div>

  <div class="container">
    <h3 class="project-title">
      <a href="https://thawing-lake-3074.herokuapp.com/" target="_blank">Travel website</a>
    </h3>
     <p class="project-description">Building a travel website that allows people to book hotels, flights, and car rentals.</p>
    <a href="https://thawing-lake-3074.herokuapp.com/" target="_blank"><img src="/images/Travel_site.png" class="project-border"/></a>
  </div>
</div>