
<div class="content-container">

  <div class="container">
    <h3 class="project-title">
      <a href="/projects/typography/">Typography</a>
    </h3>
     <p class="project-description">Project exploring Typography</p>  
    <a href="/projects/typography/"><img src="/images/Typography.png" class="project-border"/></a>
  </div>  



  <div class="container">
    <h3 class="project-title">
      <a href="http://ericagarcia.me/projects/semantics/">Semantic Project</a>
    </h3>
     <p class="project-description">Project exploring and demonstrating my knowledge of HTML Semantics. You can also read my blog post on Semantic Elements <a href="/2015/03/05/HTML5-Semantic-elements/">here</a></p>  
    <a href="/projects/semantics/"><img src="/images/Semantics.png" class="project-border"/></a>
  </div>  


  <div class="container">
    <h3 class="project-title">
      <a href="/projects/magazine/">Magazine Project</a>
    </h3>
    <p class="project-description">Project demonstrating my knowledge of CSS positioning. You can also read my blog post about my process for this project <a href="/2015/03/02/Magazine-Project/">here</a></p>   
    <a href="/projects/magazine/"><img src="/images/Magazine.png" class="project-border"/></a>         
  </div>


  <div class="container">      
    <h3 class="project-title">
      <a href="/projects/semantics/">Positioning Project</a>
    </h3>
    <p class="project-description">Project exploring the meaning of CSS positioning properties.</p>     
    <a href="/projects/positioning/"><img src="/images/Positioning.png" class="project-border"/></a>
  </div>
</div>      