---
section: resources
---

<%= partial "partials/nav" %>

<section>
  <div class="section--textured">
    <div class="content-container">

      <header class="row">
        <div class="column large-8">
        <h1 class="title">Resources</h1>
        <p class="subtitle">One of my favorite things to do is mentor and teach who are passionate about learning design and development. I used to keep a list of resources in my memory, then a personal trello board, and now I figure - why not share with everyone?</p>
      </header>
    </div>
  </div>

  <div class="content-container">

    <div class="row">
      <div class="column large-6">
        <ul class="list">
          <h2 class="list__header">Reading</h2>
          <li>
            <a target="_blank" href="https://www.amazon.com/gp/product/1933820187/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1933820187&linkCode=as2&tag=ericagarcia-20&linkId=ea91422814503abe3c5f60f4217f7cd7">The User Experience Team of One: A Research and Design Survival Guide</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=ericagarcia-20&l=am2&o=1&a=1933820187" alt="" />
          </li>
          <li>
            <a target="_blank" href="https://www.amazon.com/gp/product/1449334911/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1449334911&linkCode=as2&tag=ericagarcia-20&linkId=6d63826b9d53f0901958d949fc2eb7e8">UX for Lean Startups: Faster, Smarter User Experience Research and Design</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=ericagarcia-20&l=am2&o=1&a=1449334911" alt="" />
          </li>
          <li>
            <a target="_blank" href="https://www.amazon.com/gp/product/193382011X/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=193382011X&linkCode=as2&tag=ericagarcia-20&linkId=363536a8807b194c2f8559ed55a57978">Interviewing Users: How to Uncover Compelling Insights</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=ericagarcia-20&l=am2&o=1&a=193382011X" alt="" />
          </li>
          <li>
            <a target="_blank" href="https://www.amazon.com/gp/product/0062413902/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0062413902&linkCode=as2&tag=ericagarcia-20&linkId=6a56f4ca51821840e8d884af438614e0">How to Use Graphic Design to Sell Things, Explain Things, Make Things Look Better, Make People Laugh, Make People Cry, and (Every Once in a While) Change the World&nbsp;</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=ericagarcia-20&l=am2&o=1&a=0062413902" alt="" />
          </li>
          <li>
            <a target="_blank" href="https://www.amazon.com/gp/product/0321767535/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0321767535&linkCode=as2&tag=ericagarcia-20&linkId=1369bc48a6727d15caf50bf8d48d9ba6">100 Things Every Designer Needs to Know About People (Voices That Matter)</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=ericagarcia-20&l=am2&o=1&a=0321767535" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
          </li>
          <li>
            <a target="_blank" href="https://www.amazon.com/gp/product/0977326411/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0977326411&linkCode=as2&tag=ericagarcia-20&linkId=b5638fd2027d2e148e8447860620fcc4">How The Mighty Fall: And Why Some Companies Never Give In</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=ericagarcia-20&l=am2&o=1&a=0977326411" alt="" />
          </li>
          <li>
            <a href="https://abookapart.com/">A Book Apart: Brief books for people who make websites</a>
          </li>
          <li>
            <a target="_blank" href="https://www.amazon.com/gp/product/0465050654/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0465050654&linkCode=as2&tag=ericagarcia-20&linkId=7e3e2e8aad0ab5c3102b1d402c12592c">The Design of Everyday Things: Revised and Expanded Edition</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=ericagarcia-20&l=am2&o=1&a=0465050654" alt="" />
          </li>
        </ul>
      </div>

      <div class="column large-6">
        <ul class="list">
          <h2 class="list__header">Building Better Websites</h2>
          <li><a href="http://getbem.com/">BEM</a></li>
          <li><a href="https://github.com/stubbornella/oocss/wiki">Object Oriented CSS</a></li>
          <li><a href="https://smacss.com/">SMACSS</a></li>
          <li><a href="http://bourbon.io/">Bourbon.io</a></li>
          <li><a href="http://bradfrost.com/blog/post/atomic-web-design/">Atomic Design</a></li>
          <li><a href="http://patternlab.io/">Pattern Lab</a></li>
          <li><a href="https://tenon.io/index.php">Tenon accessibility checker</a></li>
          <li><a href="http://webaim.org/resources/contrastchecker/">Color Contrast Checker</a></li>
          <li><a href="https://imageoptim.com/mac">ImageOptim</a></li>
        </ul>
      </div>

    </div>

    <div class="row">
      <div class="column large-6">
        <ul class="list">
          <h2 class="list__header">Videos</h2>
          <li><a href="https://www.youtube.com/watch?v=1Dttd0eJG94&t=972s">RubyConf 2016 - The Truth About Mentoring Minorities by Byron Woodfork</a></li>
          <li><a href="https://www.ted.com/talks/ken_robinson_says_schools_kill_creativity#t-349348">Do Schools Kill Creativity?</a></li>
          <li><a href="https://vimeo.com/23901622">An Evening With: Jessica Hische</a></li>
          <li><a href="https://www.youtube.com/watch?v=OOb-ImcA2ug">Crafting Authenticity: Hand Lettering In The Digital Age</a></li>
          <li><a href="https://www.youtube.com/watch?v=UAinLaT42xY">Tim Brown urges designers to think big</a></li>
        </ul>
      </div>

      <div class="column large-6">
        <ul class="list">
          <h2 class="list__header">People to watch</h2>
          <li><a href="http://willoughbydesign.com/">Ann Willoughby</a></li>
          <li><a href="http://www.gemmaobrien.com/">Gemma O'Brien</a></li>
          <li><a href="http://jessicahische.is/">Jessica Hische</a></li>
          <li><a href="https://maedastudio.com/">John Maeda</a></li>
          <li><a href="http://mikemonteiro.com/">Mike Monteiro</a></li>
        </ul>
      </div>
    </div>
  </div>

</section>

<%= partial "partials/social-footer" %>