/* ==========================================================================
   Card
   ========================================================================== */

.card {
  background: none;
  border: 1px solid #E4E3E3;
  border-radius: 6px;
  padding: 0px;
  margin-bottom: 2em;
  width: 100%;

  img {
    border-radius: 6px 6px 0 0;
    display: block;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.card-section {
  background: #fff;
  border-top: 1px solid #E4E3E3;
  border-radius: 0 0 6px 6px;
  color: grey;
  margin: 0px;
  padding: 0px 15px;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  text-align: center;
  transition: background 0.5s;

  :first-child {
    margin-top: 0;
  }
}

.card-section--no-border {
  border-radius: 6px;
  border-top: none;
}

.card__accent--orange {
  border-bottom: 2px solid #EC8064;
}

.card__accent--green {
  border-bottom: 2px solid #A0C8B0;
}

.card__accent--purple {
  border-bottom: 2px solid #C88FC0;
}

.card__accent--blue {
  border-bottom: 2px solid #7CACDB;
}

.card__accent--grey {
  border-bottom: 2px solid #75808F;
}

.card__accent--peach {
  border-bottom: 2px solid #FCCE93;
}

.card__image {
  cursor: hand;
  cursor: pointer;
  width: 100%;
}

.card__name {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4em;
  line-height: 1.3em;
}

.card-section__title {
  color: #556575;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  margin-bottom: 0;
}

.card-section__info {
  font-family: 'Open Sans', sans-serif;
  color: #bbbbbb;
  font-size: .9em;
  margin: 0;
}

.card:hover {
  .card-section {
    background: #fafafa;
  }

  .item-image img {
    opacity: 0.8;
  }
}

/* ==========================================================================
   Card List
   ========================================================================== */

.card__list {
  background: none;
  border: 1px solid #E4E3E3;
  border-radius: 6px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  padding: .8em;
  margin-bottom: 1em;
  width: 100%;
}

.card__list--green-border {
  border-left: 3px solid #BACCB9;
}

.card__list--blue-border {
  border-left: 3px solid #27A8E0;
}

.card__list--dark-green-border {
  border-left: 3px solid #576A67;
}

.card__list--light-grey {
  border-left: 3px solid #eee;
}

.card__list--light-red {
  border-left: 3px solid #EF1717;
}


/* ==========================================================================
   Portfolio Cards
   ========================================================================== */

.portfolio-background {
  background: #f4f4f4;
}

.portfolio-card-container {
  margin: 0 auto;
  max-width: 2000px;
  padding: 8rem 6rem;

  @media (max-width: $medium_width) {
    padding: 2rem 3rem;
  }

   @media (max-width: 450px) {
    padding: 1rem 1rem;
  }
}

.portfolio-card {
  position: relative;
  clear: left;
  background: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  margin: 1.5em 0;
  overflow: hidden;

  &:hover {
    .portfolio-card-info {
      height: 5em;
    }
  }

  @media (max-width: 450px) {
    margin: .5em 0;
  }
}

.portfolio-card-image {
  max-width: 100%;
  height: 0;
  padding-bottom: 75%;
  overflow: hidden;
}

.portfolio-card-info {
  background: #fff;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  transition: height 0.2s ease;

  @media (max-width: 420px) {
    height: 60px;
    transition: none;

  }
}

.portfolio-title {
  color: #556575;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1em;
  margin-bottom: 0;
  padding-top: 1em;

  @media (max-width: $medium_width) {
    font-size: .7em;
  }
}

.porfolio-subtitle {
  font-family: 'Open Sans', sans-serif;
  color: #bbbbbb;
  font-size: .9em;
  margin: 0;
  padding-bottom: 1em;

   @media (max-width: $medium_width) {
    font-size: .5em;
  }
}